<!DOCTYPE html>
<html lang="fr">
<head>
    {% block GoogleAnalytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1277379-15"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-1277379-15');
    </script>
    {% endblock %}
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
    {% block metadesc %} {% endblock %}
    <title>{% block title %}Marketing Automation{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block canonical %}  {% endblock %}
</head>
<body>
{% block navBar %}
    {% include 'navbar.html.twig' %}
{% endblock %}
<div class="navmob"></div>
<section>
    <div class="container">
        {% block breadcrumb %}
        {% endblock %}

        {% block h1 %}
        {% endblock %}

        {% block body %}
        {% endblock %}
    </div>
</section>

<div class="top hide hide-on-small-only" id="topFixed">
    <i class="medium material-icons">keyboard_arrow_up</i>
</div>

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {% include('cookieConsent.html.twig') %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/tracker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/scrollfire.js') }}"></script>
    <script src="//pam.ammeloot.fr/focus/3.js" type="text/javascript" charset="utf-8" async="async"></script>
{% endblock %}
</body>
</html>
