<footer class="page-footer">
    <div class="container">
        <div class="row center-align">
            <div class="col s12 m2 l2"><a href="{{ path('homepage') }}">Home</a></div>
            <div class="col s12 m2 l2"><a href="{{ path('listingSoftware') }}">Logiciels</a></div>
            <div class="col s12 m2 l2"><a href="{{ path('listingTags') }}">Tags</a></div>
            <div class="col s12 m2 l2"><a href="{{ path('listingVersus') }}">Comparatifs</a></div>
            <div class="col s12 m2 l2"><a href="{{ path('mentionsLegales') }}">Mentions légales</a></div>
            <div class="col s12 m2 l2"><a href="{{ path('contact') }}">Contact</a></div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row center-align">
                © 2017 Pierre Ammeloot
            </div>
        </div>
    </div>
</footer>
