<div class="hide-on-med-and-down">
    <nav id="navBar">
        <a href="{{ path('homepage') }}" class="brand-logo">Logo</a>
        <ul class="right">
            <li>
                <form action="">
                    <div class="center row">
                        <div class="col s12 ">
                            <div class="row" id="topbarsearch">
                                <div class="input-field col s6 s12 ">
                                    <i class="material-icons prefix">search</i>
                                    <input type="text" placeholder="Recherche" id="autocomplete-input"
                                           class="autocomplete">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
            <li><a href="{{ path('listingSoftware') }}">Logiciels</a></li>
            <li><a href="{{ path('listingTags') }}">Tags</a></li>
            <li><a href="#">Comparatifs</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </nav>
</div>
<div class="navbar-fixed hide-on-large-only">
    <nav id="navBar">
        <div class="nav-wrapper">
            <a href="{{ path('homepage') }}" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ path('homepage') }}" class="center-align">Logo</a>
                    <div class="divider"></div>
                </li>
                <li><a href="{{ path('homepage') }}">Home</a>
                    <div class="divider"></div>
                </li>
                <li><a href="{{ path('listingSoftware') }}">Logiciels</a>
                    <div class="divider"></div>
                </li>
                <li><a href="{{ path('listingTags') }}">Tags</a>
                    <div class="divider"></div>
                </li>
                <li><a href="#">Comparatifs</a>
                    <div class="divider"></div>
                </li>
                <li><a href="{{ path('contact') }}">Contact</a>
                    <div class="divider>"></div>
                </li>
            </ul>

        </div>
        <div class="hide-on-large-only" id="lowBarSearch">
            <form>
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input type="search" required id="autocomplete-input" class="autocomplete">
                <!--    <label class="label-icon" for="search"></label>-->
                </div>
            </form>
        </div>
    </nav>
</div>
