<div class="hide-on-med-and-down">
    <nav class="navBar">
        <div class="nav-wrapper">
            <a href="{{ path('homepage') }}" class="brand-logo"><img class="responsive-img"
                                                                     src="{{ asset('assets/img/logo1.png') }}" alt="logo comparer.pro"></a>
            <ul class="right">
                <li><a href="{{ path('listingSoftware') }}">Logiciels</a></li>
                <li><a href="{{ path('listingTags') }}">Tags</a></li>
                <li><a href="{{ path('listingVersus') }}">Comparatif</a></li>
                <li><a href="{{ path('aPropos') }}">A propos</a></li>
            </ul>

        </div>
        <div class="container">
            <div class="row">
                <div class="col m7" id="topBarSearch">
                    <form action='{{ path('searchAction') }}' method='get'>
                        <div class="input-field">
                            <input class="loupe" type="submit" value="">
                            <input type="search" name='search' placeholder="recherche"
                                   value="{% if app.session.get('researchContent')  is defined %}{{ app.session.get('researchContent') }}{% endif %}"
                                   required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="navbar-fixed hide-on-large-only">
    <nav class="navBar">
        <div class="nav-wrapper">
            <a href="{{ path('homepage') }}" class="brand-logo center-align"><img class="responsive-img"
                                                                                  src="{{ asset('assets/img/logo1.png') }}" alt="logo comparer.pro"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="{{ path('homepage') }}" class="side-logo center-align"><img class="responsive-img"
                                                                                         src="{{ asset('assets/img/logo1.png') }}" alt="logo comparer.pro"></a>
                    <div class="divider"></div>
                </li>
                <li{% if app.request.attributes.get('_route') == 'homepage' %} class="active" {% endif %}>
                    <a href="{{ path('homepage') }}">Home</a>
                    <div class="divider"></div>
                </li>
                <li{% if app.request.attributes.get('_route') == 'listingSoftware' %} class="active" {% endif %}>
                    <a href="{{ path('listingSoftware') }}">Logiciels</a>
                    <div class="divider"></div>
                </li>
                <li{% if app.request.attributes.get('_route') == 'listingTags' %} class="active" {% endif %}>
                    <a href="{{ path('listingTags') }}">Tags</a>
                    <div class="divider"></div>
                </li>
                <li{% if app.request.attributes.get('_route') == 'versus' %} class="active" {% endif %}>
                    <a href="{{ path('listingVersus') }}">Comparatif</a>
                    <div class="divider"></div>
                </li>
                <li{% if app.request.attributes.get('_route') == 'contact' %} class="active" {% endif %}>
                    <a href="{{ path('aPropos') }}">A propos</a>
                    <div class="divider>"></div>
                </li>
            </ul>


        </div>
        <div id="lowBarSearch">
            <form action='{{ path('searchAction') }}' method='get'>
                <div class="input-field">
                    <input class="loupe" type="submit" value="">
                    <input type="search" name='search' placeholder="recherche"
                           value="{% if app.session.get('researchContent')  is defined %}{{ app.session.get('researchContent') }}{% endif %}"
                           required>
                </div>
            </form>
        </div>
    </nav>
</div>
