<div class="card horizontal">
    <div class="marginLogo">
        <div class="card-image result-logo-responsive">
            <a href="{{ path('softwareSolo', { 'slug': software.slug }) }}"><img class="responsive-img"
                                                                                 src="{{ asset('assets/img/logo/') }}{{ software.slug }}.png"></a>
        </div>
    </div>
    <div class="card-stacked">
        <div class="card-action">
            <a href="{{ path('softwareSolo', { 'slug': software.slug }) }}">{{ software.name |raw }}</a>
        </div>
        <div class="card-content">
            <p class="troncate">{{ software.description |raw  }}</p>
        </div>

    </div>
</div>
