
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isTwitterMonitoring'|trans }}</th>
        <td>{{ softmain.softSocialMedia.isTwitterMonitoring }}</td>
    </tr>
    <tr>
        <th>{{ 'isTwitterAutoPublication'|trans }}</th>
        <td>{{ softmain.softSocialMedia.isTwitterAutoPublication }}</td>
    </tr>
    <tr>
        <th>{{ 'isFacebookMonitoring'|trans }}</th>
        <td>{{ softmain.softSocialMedia.isFacebookMonitoring }}</td>
    </tr>
    <tr>
        <th>{{ 'isFacebookAutoPublication'|trans }}</th>
        <td>{{ softmain.softSocialMedia.isFacebookAutoPublication }}</td>
    </tr>
    <tr>
        <th>{{ 'isLinkedinMonitoring'|trans }}</th>
        <td>{{ softmain.softSocialMedia.isLinkedinMonitoring }}</td>
    </tr>
    <tr>
        <th>{{ 'isLinkedinAutoPublication'|trans }}</th>
        <td>{{ softmain.softSocialMedia.isLinkedinAutoPublication }}</td>
    </tr>
    <tr>
        <th>{{ 'isInstagramMonitoring'|trans }}</th>
        <td>{{ softmain.softSocialMedia.isInstagramMonitoring }}</td>
    </tr>
    <tr>
        <th>{{ 'isInstagramAutoPublication'|trans }}</th>
        <td>{{ softmain.softSocialMedia.isInstagramAutoPublication }}</td>
    </tr>
    </tbody>
</table>