
<table class="striped highlight">
    <tbody>
    <tr>
        <th>{{ 'isLeadScoring'|trans }}</th>
        <td>{{ softmain.softMarketingCampaign.isLeadScoring }}</td>
    </tr>
    <tr>
        <th>{{ 'isCreationCampaign'|trans }}</th>
        <td>{{ softmain.softMarketingCampaign.isCreationCampaign }}</td>
    </tr>
    <tr>
        <th>{{ 'isDripMarketingCampaign'|trans }}</th>
        <td>{{ softmain.softMarketingCampaign.isDripMarketingCampaign }}</td>
    </tr>
    <tr>
        <th>{{ 'isDragAndDrop'|trans }}</th>
        <td>{{ softmain.softMarketingCampaign.isDragAndDrop }}</td>
    </tr>
    </tbody>
</table>