
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isLandingPage'|trans }}</th>
        <td>{{ softmain.softCommSupport.isLandingPage }}</td>
    </tr>
    <tr>
        <th>{{ 'isForm'|trans }}</th>
        <td>{{ softmain.softCommSupport.isForm }}</td>
    </tr>
    <tr>
        <th>{{ 'isTracking'|trans }}</th>
        <td>{{ softmain.softCommSupport.isTracking }}</td>
    </tr>
    <tr>
        <th>{{ 'isLiveChat'|trans }}</th>
        <td>{{ softmain.softCommSupport.isLiveChat }}</td>
    </tr>
    </tbody>
</table>
