
<table class="striped highlight">
    <tbody>
    <tr>
        <th>{{ 'isContactObject'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isContactObject }}</td>
    </tr>
    <tr>
        <th>{{ 'isContactObject'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isContactObject }}</td>
    </tr>
    <tr>
        <th>{{ 'isContactObject'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isContactObject }}</td>
    </tr>
    <tr>
        <th>{{ 'isContactObject'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isContactObject }}</td>
    </tr>
    <tr>
        <th>{{ 'isContactObject'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isContactObject }}</td>
    </tr>
    <tr>
        <th>{{ 'isContactObject'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isContactObject }}</td>
    </tr>
    <tr>
        <th>{{ 'isContactObject'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isContactObject }}</td>
    </tr>
    </tbody>
</table>