
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isAutoResponder'|trans }}</th>
        <td>
            {% if softmain.softMarketingCampaign.isAutoResponder is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softMarketingCampaign.isAutoResponder is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softMarketingCampaign.isAutoResponder is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isLeadScoring'|trans }}</th>
        <td>
            {% if softmain.softMarketingCampaign.isLeadScoring is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softMarketingCampaign.isLeadScoring is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softMarketingCampaign.isLeadScoring is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isCreationCampaign'|trans }}</th>
        <td>
            {% if softmain.softMarketingCampaign.isCreationCampaign is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softMarketingCampaign.isCreationCampaign is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softMarketingCampaign.isCreationCampaign is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isDripMarketingCampaign'|trans }}</th>
        <td>
            {% if softmain.softMarketingCampaign.isDripMarketingCampaign is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softMarketingCampaign.isDripMarketingCampaign is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softMarketingCampaign.isDripMarketingCampaign is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isDragAndDrop'|trans }}</th>
        <td>
            {% if softmain.softMarketingCampaign.isDragAndDrop is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softMarketingCampaign.isDragAndDrop is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softMarketingCampaign.isDragAndDrop is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>