
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isProviderEmailChoice'|trans }}</th>
        <td>
            {% if softmain.softOtherFunctionnalities.isProviderEmailChoice is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOtherFunctionnalities.isProviderEmailChoice is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOtherFunctionnalities.isProviderEmailChoice is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isBlogEdition'|trans }}</th>
        <td>
            {% if softmain.softOtherFunctionnalities.isBlogEdition is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOtherFunctionnalities.isBlogEdition is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOtherFunctionnalities.isBlogEdition is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isTouchPad'|trans }}</th>
        <td>
            {% if softmain.softOtherFunctionnalities.isTouchPad is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOtherFunctionnalities.isTouchPad is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOtherFunctionnalities.isTouchPad is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isStmtpRelay'|trans }}</th>
        <td>
            {% if softmain.softOtherFunctionnalities.isSmtpRelay is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOtherFunctionnalities.isSmtpRelay is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOtherFunctionnalities.isSmtpRelay is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isRssToEmail'|trans }}</th>
        <td>
            {% if softmain.softOtherFunctionnalities.isRssToEmail is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOtherFunctionnalities.isRssToEmail is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOtherFunctionnalities.isRssToEmail is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>