
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isEmail'|trans }}</th>
        <td>
            {% if softmain.softOutbound.isEmail is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOutbound.isEmail is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOutbound.isEmail is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isSms'|trans }}</th>
        <td>
            {% if softmain.softOutbound.isSms is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOutbound.isSms is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOutbound.isSms is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isPopin'|trans }}</th>
        <td>
            {% if softmain.softOutbound.isPopin is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOutbound.isPopin is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOutbound.isPopin is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isMailPostal'|trans }}</th>
        <td>
            {% if softmain.softOutbound.isMailPostal is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOutbound.isMailPostal is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOutbound.isMailPostal is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isCallCenter'|trans }}</th>
        <td>
            {% if softmain.softOutbound.isCallCenter is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOutbound.isMailPostal is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOutbound.isMailPostal is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isPushMobile'|trans }}</th>
        <td>
            {% if softmain.softOutbound.isPushMobile is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOutbound.isPushMobile is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOutbound.isPushMobile is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isApi'|trans }}</th>
        <td>
            {% if softmain.softOutbound.isApi is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softOutbound.isApi is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softOutbound.isApi is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>