
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isTwitterMonitoring'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isTwitterMonitoring is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softSocialMedia.isTwitterMonitoring is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isTwitterMonitoring is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isTwitterAutoPublication'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isTwitterAutoPublication is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softSocialMedia.isTwitterAutoPublication is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isTwitterAutoPublication is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isFacebookMonitoring'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isFacebookMonitoring is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softSocialMedia.isFacebookMonitoring is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isFacebookMonitoring is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isFacebookAutoPublication'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isFacebookAutoPublication is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softSocialMedia.isFacebookAutoPublication is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isFacebookAutoPublication is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isLinkedinMonitoring'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isLinkedinMonitoring is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softSocialMedia.isLinkedinMonitoring is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isLinkedinMonitoring is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isLinkedinAutoPublication'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isLinkedinAutoPublication is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softSocialMedia.isLinkedinAutoPublication is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isLinkedinAutoPublication is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isInstagramMonitoring'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isInstagramMonitoring is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softSocialMedia.isInstagramMonitoring is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isInstagramMonitoring is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isInstagramAutoPublication'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isInstagramAutoPublication is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softSocialMedia.isInstagramAutoPublication is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isInstagramAutoPublication is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>