
<table class="striped highlight">
    <tbody>
    <tr>
        <th>Nom du logiciel</th>
        <td>{{ softmain.name }}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ softmain.type }}</td>
    </tr>
    <tr>
        <th>Pour qui? </th>
        <td>{{ softmain.softInfo.customers }}</td>
    </tr>
    <tr>
        <th>Hébergement des données</th>
        <td>{{ softmain.softInfo.hostingCountry }}</td>
    </tr>
    <tr>
        <th>Date de création</th>
        <td>{{ softmain.softInfo.creationDate }}</td>
    </tr>
    <tr>
        <th>CA annuel</th>
        <td>{{ softmain.softInfo.annualTurnover }}</td>
    </tr>
    <tr>
        <th>Coût de la configuration</th>
        <td>{{ softmain.softInfo.configCost }}</td>
    </tr>
    <tr>
        <th>Abonnement à partir de ...</th>
        <td>{{ softmain.softInfo.subscriptionCost }}</td>
    </tr>
    <tr>
        <th>Coût de la formation</th>
        <td>{{ softmain.softInfo.trainingCost }}</td>
    </tr>
    <tr>
        <th>Site web</th>
        <td><a href="{{ softmain.softInfo.webSite }}">{{ softmain.name }}</a></td>
    </tr>
    <tr>
        <th>Les plus</th>
        <td>{{ softmain.advantages }}</td>
    </tr>
    <tr>
        <th>Les moins</th>
        <td>{{ softmain.drawbacks }}</td>
    </tbody>
</table>