
<table class="striped highlight">
    <tbody>
    <tr>
        <th>{{ 'isEmail'|trans }}</th>
        <td>{{ softmain.softOutbound.isEmail }}</td>
    </tr>
    <tr>
        <th>{{ 'isSms'|trans }}</th>
        <td>{{ softmain.softOutbound.isSms }}</td>
    </tr>
    <tr>
        <th>{{ 'isPopin'|trans }}</th>
        <td>{{ softmain.softOutbound.isPopin }}</td>
    </tr>
    <tr>
        <th>{{ 'isMailPostal'|trans }}</th>
        <td>{{ softmain.softOutbound.isMailPostal }}</td>
    </tr>
    <tr>
        <th>{{ 'isCallCenter'|trans }}</th>
        <td>{{ softmain.softOutbound.isCallCenter }}</td>
    </tr>
    <tr>
        <th>{{ 'isPushMobile'|trans }}</th>
        <td>{{ softmain.softOutbound.isPushMobile }}</td>
    </tr>
    <tr>
        <th>{{ 'isApi'|trans }}</th>
        <td>{{ softmain.softOutbound.isApi }}</td>
    </tr>
    </tbody>
</table>