
<table class="striped highlight">
    <tbody>
    <tr>
        <th>{{ 'isEmailSupport'|trans }}</th>
        <td>{{ softmain.softSupport.isEmailSupport }}</td>
    </tr>
    <tr>
        <th>{{ 'isPhoneSupport'|trans }}</th>
        <td>{{ softmain.softSupport.isPhoneSupport }}</td>
    </tr>
    <tr>
        <th>{{ 'isChatSupport'|trans }}</th>
        <td>{{ softmain.softSupport.isChatSupport }}</td>
    </tr>
    <tr>
        <th>{{ 'isKnowledgeBase'|trans }}</th>
        <td>{{ softmain.softSupport.isKnowledgeBase }}</td>
    </tr>
    <tr>
        <th>{{ 'knowledgeBaseLanguage'|trans }}</th>
        <td>{{ softmain.softSupport.knowledgeBaseLanguage }}</td>
    </tr>
    <tr>
        <th>{{ 'isTechnicalDocument'|trans }}</th>
        <td>{{ softmain.softSupport.isTechnicalDocument }}</td>
    </tr>
    </tbody>
</table>