
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isProviderEmailChoice'|trans }}</th>
        <td>{{ softmain.softOtherFunctionnalities.isProviderEmailChoice }}</td>
    </tr>
    <tr>
        <th>{{ 'isBlogEdition'|trans }}</th>
        <td>{{ softmain.softOtherFunctionnalities.isBlogEdition }}</td>
    </tr>
    <tr>
        <th>{{ 'isTouchPad'|trans }}</th>
        <td>{{ softmain.softOtherFunctionnalities.isTouchPad }}</td>
    </tr>
    <tr>
        <th>{{ 'isStmtpRelay'|trans }}</th>
        <td>{{ softmain.softOtherFunctionnalities.isSmtpRelay}}</td>
    </tr>
    <tr>
        <th>{{ 'isRssToEmail'|trans }}</th>
        <td>{{ softmain.softOtherFunctionnalities.isRssToEmail }}</td>
    </tr>
    </tbody>
</table>