
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isContactObject'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isContactObject }}</td>
    </tr>
    <tr>
        <th>{{ 'isCompanyObject'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isCompanyObject }}</td>
    </tr>
    <tr>
        <th>{{ 'isDefinedFields'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isDefinedFields }}</td>
    </tr>
    <tr>
        <th>{{ 'isIllimitedFields'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isIllimitedFields }}</td>
    </tr>
    <tr>
        <th>{{ 'isImportCsv'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isImportCsv }}</td>
    </tr>
    <tr>
        <th>{{ 'isAutoDuplicate'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isAutoDuplicate }}</td>
    </tr>
    <tr>
        <th>{{ 'isLeadStages'|trans }}</th>
        <td>{{ softmain.softLeadsOperation.isLeadStages }}</td>
    </tr>
    </tbody>
</table>