
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isTwitterMonitoring'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isTwitterMonitoring  == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isTwitterMonitoring == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="valign-wrapper center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isTwitterAutoPublication'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isTwitterAutoPublication  == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isTwitterAutoPublication == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="valign-wrapper center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isFacebookMonitoring'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isFacebookMonitoring   == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isFacebookMonitoring  == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="valign-wrapper center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isFacebookAutoPublication'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isFacebookAutoPublication  == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isFacebookAutoPublication == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="valign-wrapper center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isLinkedinMonitoring'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isLinkedinMonitoring  == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isLinkedinMonitoring == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="valign-wrapper center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isLinkedinAutoPublication'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isLinkedinAutoPublication  == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isLinkedinAutoPublication == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class=" valign-wrappercenter-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isInstagramMonitoring'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isInstagramMonitoring  == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isInstagramMonitoring == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="valign-wrapper center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isInstagramAutoPublication'|trans }}</th>
        <td>
            {% if softmain.softSocialMedia.isInstagramAutoPublication  == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSocialMedia.isInstagramAutoPublication == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="valign-wrapper center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>