
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isContactObject'|trans }}</th>
        <td>
            {% if softmain.softLeadsOperation.isContactObject is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softLeadsOperation.isContactObject is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softLeadsOperation.isContactObject is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isCompanyObject'|trans }}</th>
        <td>
            {% if softmain.softLeadsOperation.isCompanyObject is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softLeadsOperation.isCompanyObject is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softLeadsOperation.isCompanyObject is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isDefinedFields'|trans }}</th>
        <td>
            {% if softmain.softLeadsOperation.isDefinedFields is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softLeadsOperation.isDefinedFields is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softLeadsOperation.isDefinedFields is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isIllimitedFields'|trans }}</th>
        <td>
            {% if softmain.softLeadsOperation.isIllimitedFields is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softLeadsOperation.isIllimitedFields is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softLeadsOperation.isIllimitedFields is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isImportCsv'|trans }}</th>
        <td>
            {% if softmain.softLeadsOperation.isImportCsv is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softLeadsOperation.isImportCsv is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softLeadsOperation.isImportCsv is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isAutoDuplicate'|trans }}</th>
        <td>
            {% if softmain1.softLeadsOperation.isAutoDuplicate is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain1.softLeadsOperation.isAutoDuplicate is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain1.softLeadsOperation.isAutoDuplicate is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isLeadStages'|trans }}</th>
        <td>
            {% if softmain.softLeadsOperation.isLeadStages is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softLeadsOperation.isLeadStages is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softLeadsOperation.isLeadStages is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>