
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'name'|trans }}</th>
        <td><p>{{ softmain.name | raw }}</p></td>
    </tr>
    <tr>
        <th>{{ 'type'|trans }}</th>
        <td>
            {% if softmain.type | raw == false %}
                <i class="small material-icons grey-text">help_outline</i>
            {% else %}
                <p>{{ softmain.type | raw }}</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'advantages'|trans }}</th>
        <td>
            {% if softmain.advantages | raw == null %}
                <i class="small material-icons grey-text">help_outline</i>
            {% else %}
                <p>{{ softmain.advantages | raw }}</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'drawbacks'|trans }}</th>
        <td>
            {% if softmain.drawbacks | raw == null %}
                <i class="small material-icons grey-text">help_outline</i>
            {% else %}
                <p>{{ softmain.drawbacks | raw }}</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'rgpd'|trans }}</th>
        <td>
            {% if softmain.softInfo.rgpd is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softInfo.rgpd is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softInfo.rgpd is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'customers'|trans }}</th>
        <td>
            {% if softmain.softInfo.customers == false %}
                <i class="small material-icons grey-text">help_outline</i>
            {% else %}
                <p>{{ softmain.softInfo.customers }}</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'hostingCountry'|trans }}</th>
        <td>
            {% if softmain.softInfo.hostingCountry | raw == false %}
                <i class="small material-icons grey-text">help_outline</i>
            {% else %}
                <p>{{ softmain.softInfo.hostingCountry | raw }}</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'creationDate'|trans }}</th>
        <td>
            {% if softmain.softInfo.creationDate | raw == false %}
                <i class="small material-icons grey-text">help_outline</i>
            {% else %}
                <p>{{ softmain.softInfo.creationDate | raw }}</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'subscriptionCost'|trans }}</th>
        <td>
            {% if softmain.softInfo.subscriptionCost | raw == false %}
                <i class="small material-icons grey-text">help_outline</i>
            {% else %}
                {{ softmain.softInfo.subscriptionCost | raw }} €

            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'trainingCost'|trans }}</th>
        <td>
            {% if softmain.softInfo.trainingCost | raw == false %}
                <i class="small material-icons grey-text">help_outline</i>
            {% else %}
                <p>{{ softmain.softInfo.trainingCost | raw }}</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'webSite'|trans }}</th>
        <td>
            {% if softmain.softInfo.webSite == false %}
                <i class="small material-icons grey-text">help_outline</i>
            {% else %}
                <p><a href="{{ softmain.softInfo.webSite }}">{{ softmain.name | raw }}</a></p>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>