
<table class="striped highlight">
    <tbody>
    <tr>
        <th>{{ 'name'|trans }}</th>
        <td>{{ softmain.name }}</td>
    </tr>
    <tr>
        <th>{{ 'type'|trans }}</th>
        <td>{{ softmain.type }}</td>
    </tr>
    <tr>
        <th>{{ 'advantages'|trans }}</th>
        <td>{{ softmain.advantages }}</td>
    </tr>
    <tr>
        <th>{{ 'drawbacks'|trans }}</th>
        <td>{{ softmain.drawbacks }}</td>
    </tr>
    <tr>
        <th>{{ 'rgpd'|trans }}</th>
        <td>{{ softmain.softInfo.rgpd }}</td>
    </tr>
    <tr>
        <th>{{ 'customers'|trans }}</th>
        <td>{{ softmain.softInfo.customers }}</td>
    </tr>
    <tr>
        <th>{{ 'hostingCountry'|trans }}</th>
        <td>{{ softmain.softInfo.hostingCountry }}</td>
    </tr>
    <tr>
        <th>{{ 'creationDate'|trans }}</th>
        <td>{{ softmain.softInfo.creationDate }}</td>
    </tr>
    <tr>
        <th>{{ 'annualTurnover'|trans }}</th>
        <td>{{ softmain.softInfo.annualTurnover }}</td>
    </tr>
    <tr>
        <th>{{ 'configCost'|trans }}</th>
        <td>{{ softmain.softInfo.configCost }}</td>
    </tr>
    <tr>
        <th>{{ 'subscriptionCost'|trans }}</th>
        <td>{{ softmain.softInfo.subscriptionCost }}</td>
    </tr>
    <tr>
        <th>{{ 'trainingCost'|trans }}</th>
        <td>{{ softmain.softInfo.trainingCost }}</td>
    </tr>
    <tr>
        <th>{{ 'webSite'|trans }}</th>
        <td><a href="{{ softmain.softInfo.webSite }}">{{ softmain.name }}</a></td>
    </tr>
    </tbody>
</table>