
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'name'|trans }}</th>
        <td>{{ softmain.name | raw }}</td>
    </tr>
    <tr>
        <th>{{ 'type'|trans }}</th>
        <td>
            {% if softmain.type | raw == false %}
                <p class="center-align">Non communiqué</p>
            {% else %}
                {{ softmain.type | raw }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'advantages'|trans }}</th>
        <td>
            {% if softmain.advantages | raw == null %}
                <p class="center-align">Non communiqué</p>
            {% else %}
                {{ softmain.advantages | raw }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'drawbacks'|trans }}</th>
        <td>
            {% if softmain.drawbacks | raw == false %}
                <p class="center-align">Non communiqué</p>
            {% else %}
                {{ softmain.drawbacks | raw }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'rgpd'|trans }}</th>
        <td>
            {% if softmain.softInfo.rgpd is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softInfo.rgpd is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softInfo.rgpd is same as(null) %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'customers'|trans }}</th>
        <td>
            {% if softmain.softInfo.customers == false %}
                <p class="center-align">Non communiqué</p>
            {% else %}
                {{ softmain.softInfo.customers }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'hostingCountry'|trans }}</th>
        <td>
            {% if softmain.softInfo.hostingCountry | raw == false %}
                <p class="center-align">Non communiqué</p>
            {% else %}
                {{ softmain.softInfo.hostingCountry | raw }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'creationDate'|trans }}</th>
        <td>
            {% if softmain.softInfo.creationDate | raw == false %}
                <p class="center-align">Non communiqué</p>
            {% else %}
                {{ softmain.softInfo.creationDate | raw }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'subscriptionCost'|trans }}</th>
        <td>
            {% if softmain.softInfo.subscriptionCost | raw == false %}
                <p class="center-align">Non communiqué</p>
            {% else %}
                {{ softmain.softInfo.subscriptionCost | raw }} €
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'trainingCost'|trans }}</th>
        <td>
            {% if softmain.softInfo.trainingCost | raw == false %}
                <p class="center-align">Non communiqué</p>
            {% else %}
                {{ softmain.softInfo.trainingCost | raw }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'webSite'|trans }}</th>
        <td>
            {% if softmain.softInfo.webSite == false %}
                <p class="center-align">Non communiqué</p>
            {% else %}
                <a href="{{ softmain.softInfo.webSite }}">{{ softmain.name | raw }}</a>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>