
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isAutoResponder'|trans }}</th>
        <td>{{ softmain.softMarketingCampaign.isLeadScoring }}</td>
    </tr>
    <tr>
        <th>{{ 'isLeadScoring'|trans }}</th>
        <td>
            {% if softmain.softMarketingCampaign.isLeadScoring == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softMarketingCampaign.isLeadScoring == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isCreationCampaign'|trans }}</th>
        <td>
            {% if softmain.softMarketingCampaign.isCreationCampaign == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softMarketingCampaign.isCreationCampaign == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isDripMarketingCampaign'|trans }}</th>
        <td>
            {% if softmain.softMarketingCampaign.isDripMarketingCampaign == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softMarketingCampaign.isDripMarketingCampaign == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isDragAndDrop'|trans }}</th>
        <td>
            {% if softmain.softMarketingCampaign.isDragAndDrop == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softMarketingCampaign.isDragAndDrop == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>