{% extends 'base.html.twig' %}
{% block title %}Comparez 2 logiciels de marketing automation pour faire le bon choix{% endblock %}
{% block metadesc %}Un doute? Comparez 2 logiciels de marketing automation selon leurs fonctionnalités.{% endblock %}

        {% block h1 %}
            <h1>Comparez 2 logiciels de marketing automation</h1>
        {% endblock %}

{% block body %}
    <div id="compare">
        <div class="presentation">
            <p>Grâce à ce comparatif, vous pouvez comparer deux logiciels de marketing automation selon leurs
                principales fonctionnalités.</p>
            <div class="labelcomparatif">
                <div class="row">
                    <div class="offset-m1 col s12 m4 selectsoft">
                        {{ form_start(form) }}
                        {{ form_row(form.software1) }}
                        <ul id="autocomplete_compare_software1">
                        </ul>
                    </div>
                    <div class="col offset-m2 s12 m4 selectsoft">
                        {{ form_row(form.software2) }}
                        <ul id="autocomplete_compare_software2">
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            {% if error is defined %}
                                {{ error }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn waves-effect waves-light" id="versus-button" type="submit" name="action">
                                Comparer
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>

            <div class="row">
                <a href="{{ path('softwareSolo', { 'slug': softmain1.slug }) }}">
                    <div class=" col m6 s12">
                        <div class="card">
                            <div class="center-align">
                                <img src="{{ asset('assets/img/logo/') }}{{ softmain1.slug }}.png">
                            </div>
                            <div class="center-align"><span class="card-title">{{ softmain1.name }}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ path('softwareSolo', { 'slug': softmain2.slug }) }}">
                    <div class=" col m6 s12">
                        <div class="card">
                            <div class="center-align">
                                <img src="{{ asset('assets/img/logo/') }}{{ softmain2.slug }}.png">
                            </div>
                            <div class="center-align"><span class="card-title">{{ softmain2.name }}</span>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="col s12 m12" id="SpecificCompareComment">
                    <p>Ceci est une description pré-écrite de comparatif entre ces deux logiciels. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Pellentesque et nunc eleifend nisl semper molestie.
                        Cras viverra leo id nulla consequat, sit amet efficitur orci viverra. Pellentesque nunc
                        nunc, rhoncus eget neque et, dapibus consectetur nibh.</p>
                </div>
            </div>
            <div id="tableVersus">
                <h2>Informations essentielles sur {{ softmain1.name }} et {{ softmain2.name }}</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'name'|trans }}</th>
                        <td>{{ softmain1.name }}</td>
                        <td>{{ softmain2.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'type'|trans }}</th>
                        <td>{{ softmain1.type }}</td>
                        <td>{{ softmain2.type }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'advantages'|trans }}</th>
                        <td>{{ softmain1.advantages }}</td>
                        <td>{{ softmain2.advantages }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'drawbacks'|trans }}</th>
                        <td>{{ softmain1.drawbacks }}</td>
                        <td>{{ softmain2.drawbacks }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'rgpd'|trans }}</th>
                        <td>{{ softmain1.softInfo.rgpd }}</td>
                        <td>{{ softmain2.softInfo.rgpd }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'customers'|trans }}</th>
                        <td>{{ softmain1.softInfo.customers }}</td>
                        <td>{{ softmain2.softInfo.customers }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'hostingCountry'|trans }}</th>
                        <td>{{ softmain1.softInfo.hostingCountry }}</td>
                        <td>{{ softmain2.softInfo.hostingCountry }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'creationDate'|trans }}</th>
                        <td>{{ softmain1.softInfo.creationDate }}</td>
                        <td>{{ softmain2.softInfo.creationDate }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'annualTurnover'|trans }}</th>
                        <td>{{ softmain1.softInfo.annualTurnover }}</td>
                        <td>{{ softmain2.softInfo.annualTurnover }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'configCost'|trans }}</th>
                        <td>{{ softmain1.softInfo.configCost }}</td>
                        <td>{{ softmain2.softInfo.configCost }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'subscriptionCost'|trans }}</th>
                        <td>{{ softmain1.softInfo.subscriptionCost }}</td>
                        <td>{{ softmain2.softInfo.subscriptionCost }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'trainingCost'|trans }}</th>
                        <td>{{ softmain1.softInfo.trainingCost }}</td>
                        <td>{{ softmain2.softInfo.trainingCost }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'webSite'|trans }}</th>
                        <td><a href="{{ softmain1.softInfo.webSite }}">{{ softmain1.name }}</a></td>
                        <td><a href="{{ softmain2.softInfo.webSite }}">{{ softmain2.name }}</a></td>
                    </tr>
                </table>
                <h2>Canaux de communication sortants (outbound)</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmail'|trans }}</th>
                        <td>{{ softmain1.softOutbound.isEmail }}</td>
                        <td>{{ softmain2.softOutbound.isEmail }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isSms'|trans }}</th>
                        <td>{{ softmain1.softOutbound.isSms }}</td>
                        <td>{{ softmain2.softOutbound.isSms }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPopin'|trans }}</th>
                        <td>{{ softmain1.softOutbound.isPopin }}</td>
                        <td>{{ softmain2.softOutbound.isPopin }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isMailPostal'|trans }}</th>
                        <td>{{ softmain1.softOutbound.isMailPostal }}</td>
                        <td>{{ softmain2.softOutbound.isMailPostal }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isCallCenter'|trans }}</th>
                        <td>{{ softmain1.softOutbound.isCallCenter }}</td>
                        <td>{{ softmain2.softOutbound.isCallCenter }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPushMobile'|trans }}</th>
                        <td>{{ softmain1.softOutbound.isPushMobile }}</td>
                        <td>{{ softmain2.softOutbound.isPushMobile }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isApi'|trans }}</th>
                        <td>{{ softmain1.softOutbound.isApi }}</td>
                        <td>{{ softmain2.softOutbound.isApi }}</td>
                    </tr>
                </table>
                <h2>Supports de communication entrants (inbound)</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmailSupport'|trans }}</th>
                        <td>{{ softmain1.softSupport.isEmailSupport }}</td>
                        <td>{{ softmain2.softSupport.isEmailSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPhoneSupport'|trans }}</th>
                        <td>{{ softmain1.softSupport.isPhoneSupport }}</td>
                        <td>{{ softmain2.softSupport.isPhoneSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isChatSupport'|trans }}</th>
                        <td>{{ softmain1.softSupport.isChatSupport }}</td>
                        <td>{{ softmain2.softSupport.isChatSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isKnowledgeBase'|trans }}</th>
                        <td>{{ softmain1.softSupport.isKnowledgeBase }}</td>
                        <td>{{ softmain2.softSupport.isKnowledgeBase }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'knowledgeBaseLanguage'|trans }}</th>
                        <td>{{ softmain1.softSupport.knowledgeBaseLanguage }}</td>
                        <td>{{ softmain2.softSupport.knowledgeBaseLanguage }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTechnicalDocument'|trans }}</th>
                        <td>{{ softmain1.softSupport.isTechnicalDocument }}</td>
                        <td>{{ softmain2.softSupport.isTechnicalDocument }}</td>
                    </tr>
                </table>
                <h2>Gestion des contacts</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isContactObject'|trans }}</th>
                        <td>{{ softmain1.softLeadsOperation.isContactObject }}</td>
                        <td>{{ softmain2.softLeadsOperation.isContactObject }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isCompanyObject'|trans }}</th>
                        <td>{{ softmain1.softLeadsOperation.isCompanyObject }}</td>
                        <td>{{ softmain2.softLeadsOperation.isCompanyObject }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isDefinedFields'|trans }}</th>
                        <td>{{ softmain1.softLeadsOperation.isDefinedFields }}</td>
                        <td>{{ softmain2.softLeadsOperation.isDefinedFields }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isIllimitedFields'|trans }}</th>
                        <td>{{ softmain1.softLeadsOperation.isIllimitedFields }}</td>
                        <td>{{ softmain2.softLeadsOperation.isIllimitedFields }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isImportCsv'|trans }}</th>
                        <td>{{ softmain1.softLeadsOperation.isImportCsv }}</td>
                        <td>{{ softmain2.softLeadsOperation.isImportCsv }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isAutoDuplicate'|trans }}</th>
                        <td>{{ softmain1.softLeadsOperation.isAutoDuplicate }}</td>
                        <td>{{ softmain2.softLeadsOperation.isAutoDuplicate }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isLeadStages'|trans }}</th>
                        <td>{{ softmain1.softLeadsOperation.isLeadStages }}</td>
                        <td>{{ softmain2.softLeadsOperation.isLeadStages }}</td>
                    </tr>
                </table>
                <h2>Gestion des segments</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isSegmentCreation'|trans }}</th>
                        <td>{{ softmain1.softSegmentOperation.isSegmentCreation }}</td>
                        <td>{{ softmain2.softSegmentOperation.isSegmentCreation }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isIntelligentSegment'|trans }}</th>
                        <td>{{ softmain1.softSegmentOperation.isIntelligentSegment }}</td>
                        <td>{{ softmain2.softSegmentOperation.isIntelligentSegment }}</td>
                    </tr>
                </table>
                <h2>Campagnes Marketing Automation</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isLeadScoring'|trans }}</th>
                        <td>{{ softmain1.softMarketingCampaign.isLeadScoring }}</td>
                        <td>{{ softmain2.softMarketingCampaign.isLeadScoring }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isCreationCampaign'|trans }}</th>
                        <td>{{ softmain1.softMarketingCampaign.isCreationCampaign }}</td>
                        <td>{{ softmain2.softMarketingCampaign.isCreationCampaign }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isDripMarketingCampaign'|trans }}</th>
                        <td>{{ softmain1.softMarketingCampaign.isDripMarketingCampaign }}</td>
                        <td>{{ softmain2.softMarketingCampaign.isDripMarketingCampaign }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isDragAndDrop'|trans }}</th>
                        <td>{{ softmain1.softMarketingCampaign.isDragAndDrop }}</td>
                        <td>{{ softmain2.softMarketingCampaign.isDragAndDrop }}</td>
                    </tr>
                </table>
                <h2>Intégration Social Media</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isTwitterMonitoring'|trans }}</th>
                        <td>{{ softmain1.softSocialMedia.isTwitterMonitoring }}</td>
                        <td>{{ softmain2.softSocialMedia.isTwitterMonitoring }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTwitterAutoPublication'|trans }}</th>
                        <td>{{ softmain1.softSocialMedia.isTwitterAutoPublication }}</td>
                        <td>{{ softmain2.softSocialMedia.isTwitterAutoPublication }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isFacebookMonitoring'|trans }}</th>
                        <td>{{ softmain1.softSocialMedia.isFacebookMonitoring }}</td>
                        <td>{{ softmain2.softSocialMedia.isFacebookMonitoring }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isFacebookAutoPublication'|trans }}</th>
                        <td>{{ softmain1.softSocialMedia.isFacebookAutoPublication }}</td>
                        <td>{{ softmain2.softSocialMedia.isFacebookAutoPublication }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isLinkedinMonitoring'|trans }}</th>
                        <td>{{ softmain1.softSocialMedia.isLinkedinMonitoring }}</td>
                        <td>{{ softmain2.softSocialMedia.isLinkedinMonitoring }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isLinkedinAutoPublication'|trans }}</th>
                        <td>{{ softmain1.softSocialMedia.isLinkedinAutoPublication }}</td>
                        <td>{{ softmain2.softSocialMedia.isLinkedinAutoPublication }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isInstagramMonitoring'|trans }}</th>
                        <td>{{ softmain1.softSocialMedia.isInstagramMonitoring }}</td>
                        <td>{{ softmain2.softSocialMedia.isInstagramMonitoring }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isInstagramAutoPublication'|trans }}</th>
                        <td>{{ softmain1.softSocialMedia.isInstagramAutoPublication }}</td>
                        <td>{{ softmain2.softSocialMedia.isInstagramAutoPublication }}</td>
                    </tr>
                </table>
                <h2>Rapports</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isActivityReportCreation'|trans }}</th>
                        <td>{{ softmain1.softReport.isActivityReportCreation }}</td>
                        <td>{{ softmain2.softReport.isActivityReportCreation }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isActivityReportPeriodicSend'|trans }}</th>
                        <td>{{ softmain1.softReport.isActivityReportPeriodicSend }}</td>
                        <td>{{ softmain2.softReport.isActivityReportPeriodicSend }}</td>
                    </tr>
                </table>
                <h2>Support</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmailSupport'|trans }}</th>
                        <td>{{ softmain1.softSupport.isEmailSupport }}</td>
                        <td>{{ softmain2.softSupport.isEmailSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPhoneSupport'|trans }}</th>
                        <td>{{ softmain1.softSupport.isPhoneSupport }}</td>
                        <td>{{ softmain2.softSupport.isPhoneSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isChatSupport'|trans }}</th>
                        <td>{{ softmain1.softSupport.isChatSupport }}</td>
                        <td>{{ softmain2.softSupport.isChatSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isKnowledgeBase'|trans }}</th>
                        <td>{{ softmain1.softSupport.isKnowledgeBase }}</td>
                        <td>{{ softmain2.softSupport.isKnowledgeBase }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'knowledgeBaseLanguage'|trans }}</th>
                        <td>{{ softmain1.softSupport.knowledgeBaseLanguage }}</td>
                        <td>{{ softmain2.softSupport.knowledgeBaseLanguage }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTechnicalDocument'|trans }}</th>
                        <td>{{ softmain1.softSupport.isTechnicalDocument }}</td>
                        <td>{{ softmain2.softSupport.isTechnicalDocument }}</td>
                    </tr>
                </table>
                <h2>Autres fonctionnalités</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isProviderEmailChoice'|trans }}</th>
                        <td>{{ softmain1.softOtherFunctionnalities.isProviderEmailChoice }}</td>
                        <td>{{ softmain2.softOtherFunctionnalities.isProviderEmailChoice }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isBlogEdition'|trans }}</th>
                        <td>{{ softmain1.softOtherFunctionnalities.isBlogEdition }}</td>
                        <td>{{ softmain2.softOtherFunctionnalities.isBlogEdition }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTouchPad'|trans }}</th>
                        <td>{{ softmain1.softOtherFunctionnalities.isTouchPad }}</td>
                        <td>{{ softmain2.softOtherFunctionnalities.isTouchPad }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isStmtpRelay'|trans }}</th>
                        <td>{{ softmain1.softOtherFunctionnalities.isSmtpRelay}}</td>
                        <td>{{ softmain2.softOtherFunctionnalities.isSmtpRelay}}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isRssToEmail'|trans }}</th>
                        <td>{{ softmain1.softOtherFunctionnalities.isRssToEmail }}</td>
                        <td>{{ softmain2.softOtherFunctionnalities.isRssToEmail }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
        {% block javascripts %}    {{ parent() }}
            <script src="{{ asset('assets/js/versus-ajax.js') }}"></script>

        {% endblock %}