{% extends 'base.html.twig' %}
{% block title %}Comparez 2 logiciels de marketing automation pour faire le bon choix{% endblock %}
{% block metadesc %}Un doute? Comparez 2 logiciels de marketing automation selon leurs fonctionnalités.{% endblock %}

        {% block h1 %}
            <h1>Comparez 2 logiciels de marketing automation</h1>
        {% endblock %}

{% block body %}
    <div id="compare">
        <div class="presentation">
            <p>Grâce à ce comparatif, vous pouvez comparer deux logiciels de marketing automation selon leurs
                principales fonctionnalités.</p>
            <div class="labelcomparatif">
                <div class="row">
                    <div class="offset-m1 col s12 m4 selectsoft">
                        <label for="soft_choice">Premier logiciel à comparer:</label>
                        <input list="soft" type="text" id="soft_choice">
                        <datalist id="soft">
                            <option value="MailChimp">
                            <option value="Mautic">
                            <option value="MailChimp">
                            <option value="MailChimp">
                        </datalist>
                    </div>
                    <div class="col offset-m2 s12 m4 selectsoft">
                        <label for="soft_choice2">Second logiciel à comparer :</label>
                        <input list="soft" type="text" id="soft_choice2">
                        <datalist id="soft">
                            <option value="MailChimp">
                            <option value="Mautic">
                            <option value="MailChimp">
                            <option value="MailChimp">
                        </datalist>
                    </div>
                    <div class="center-align">
                        <button class="btn waves-effect waves-light" id="versus-button" type="submit" name="action">Comparer
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="">
                    <div class=" col m6 s12">
                        <div class="card">
                            <div class="center-align">
                                <img src="{{ asset('assets/img/photo') }}{{ random(3) }}.png"
                                     class="responsive-img">
                            </div>
                            <div class="center-align"><span class="card-title">MailChimp</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class=" col m6 s12">
                        <div class="card">
                            <div class="center-align">
                                <img src="{{ asset('assets/img/photo') }}{{ random(3) }}.png">
                            </div>
                            <div class="center-align"><span class="card-title">Mautic</span>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="col s12 m12" id="SpecificCompareComment">
                    <p>Ceci est une description pré-écrite de comparatif entre ces deux logiciels. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Pellentesque et nunc eleifend nisl semper molestie.
                        Cras viverra leo id nulla consequat, sit amet efficitur orci viverra. Pellentesque nunc
                        nunc, rhoncus eget neque et, dapibus consectetur nibh.</p>
                </div>
            </div>
            <div id="tableVersus">
                <h2>Informations essentielles sur MailChimp et Mautic</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'name'|trans }}</th>
                        <td>{{ softmain.name }}</td>
                        <td>{{ softmain.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'type'|trans }}</th>
                        <td>{{ softmain.type }}</td>
                        <td>{{ softmain.type }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'advantages'|trans }}</th>
                        <td>{{ softmain.advantages }}</td>
                        <td>{{ softmain.advantages }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'drawbacks'|trans }}</th>
                        <td>{{ softmain.drawbacks }}</td>
                        <td>{{ softmain.drawbacks }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'rgpd'|trans }}</th>
                        <td>{{ softmain.softInfo.rgpd }}</td>
                        <td>{{ softmain.softInfo.rgpd }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'customers'|trans }}</th>
                        <td>{{ softmain.softInfo.customers }}</td>
                        <td>{{ softmain.softInfo.customers }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'hostingCountry'|trans }}</th>
                        <td>{{ softmain.softInfo.hostingCountry }}</td>
                        <td>{{ softmain.softInfo.hostingCountry }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'creationDate'|trans }}</th>
                        <td>{{ softmain.softInfo.creationDate }}</td>
                        <td>{{ softmain.softInfo.creationDate }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'annualTurnover'|trans }}</th>
                        <td>{{ softmain.softInfo.annualTurnover }}</td>
                        <td>{{ softmain.softInfo.annualTurnover }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'configCost'|trans }}</th>
                        <td>{{ softmain.softInfo.configCost }}</td>
                        <td>{{ softmain.softInfo.configCost }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'subscriptionCost'|trans }}</th>
                        <td>{{ softmain.softInfo.subscriptionCost }}</td>
                        <td>{{ softmain.softInfo.subscriptionCost }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'trainingCost'|trans }}</th>
                        <td>{{ softmain.softInfo.trainingCost }}</td>
                        <td>{{ softmain.softInfo.trainingCost }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'webSite'|trans }}</th>
                        <td><a href="{{ softmain.softInfo.webSite }}">{{ softmain.name }}</a></td>
                        <td><a href="{{ softmain.softInfo.webSite }}">{{ softmain.name }}</a></td>
                    </tr>
                </table>
                <h2>Canaux de communication sortants (outbound)</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmail'|trans }}</th>
                        <td>{{ softmain.softOutbound.isEmail }}</td>
                        <td>{{ softmain.softOutbound.isEmail }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isSms'|trans }}</th>
                        <td>{{ softmain.softOutbound.isSms }}</td>
                        <td>{{ softmain.softOutbound.isSms }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPopin'|trans }}</th>
                        <td>{{ softmain.softOutbound.isPopin }}</td>
                        <td>{{ softmain.softOutbound.isPopin }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isMailPostal'|trans }}</th>
                        <td>{{ softmain.softOutbound.isMailPostal }}</td>
                        <td>{{ softmain.softOutbound.isMailPostal }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isCallCenter'|trans }}</th>
                        <td>{{ softmain.softOutbound.isCallCenter }}</td>
                        <td>{{ softmain.softOutbound.isCallCenter }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPushMobile'|trans }}</th>
                        <td>{{ softmain.softOutbound.isPushMobile }}</td>
                        <td>{{ softmain.softOutbound.isPushMobile }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isApi'|trans }}</th>
                        <td>{{ softmain.softOutbound.isApi }}</td>
                        <td>{{ softmain.softOutbound.isApi }}</td>
                    </tr>
                </table>
                <h2>Supports de communication entrants (inbound)</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmailSupport'|trans }}</th>
                        <td>{{ softmain.softSupport.isEmailSupport }}</td>
                        <td>{{ softmain.softSupport.isEmailSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPhoneSupport'|trans }}</th>
                        <td>{{ softmain.softSupport.isPhoneSupport }}</td>
                        <td>{{ softmain.softSupport.isPhoneSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isChatSupport'|trans }}</th>
                        <td>{{ softmain.softSupport.isChatSupport }}</td>
                        <td>{{ softmain.softSupport.isChatSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isKnowledgeBase'|trans }}</th>
                        <td>{{ softmain.softSupport.isKnowledgeBase }}</td>
                        <td>{{ softmain.softSupport.isKnowledgeBase }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'knowledgeBaseLanguage'|trans }}</th>
                        <td>{{ softmain.softSupport.knowledgeBaseLanguage }}</td>
                        <td>{{ softmain.softSupport.knowledgeBaseLanguage }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTechnicalDocument'|trans }}</th>
                        <td>{{ softmain.softSupport.isTechnicalDocument }}</td>
                        <td>{{ softmain.softSupport.isTechnicalDocument }}</td>
                    </tr>
                </table>
                <h2>Gestion des contacts</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isContactObject'|trans }}</th>
                        <td>{{ softmain.softLeadsOperation.isContactObject }}</td>
                        <td>{{ softmain.softLeadsOperation.isContactObject }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isCompanyObject'|trans }}</th>
                        <td>{{ softmain.softLeadsOperation.isCompanyObject }}</td>
                        <td>{{ softmain.softLeadsOperation.isCompanyObject }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isDefinedFields'|trans }}</th>
                        <td>{{ softmain.softLeadsOperation.isDefinedFields }}</td>
                        <td>{{ softmain.softLeadsOperation.isDefinedFields }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isIllimitedFields'|trans }}</th>
                        <td>{{ softmain.softLeadsOperation.isIllimitedFields }}</td>
                        <td>{{ softmain.softLeadsOperation.isIllimitedFields }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isImportCsv'|trans }}</th>
                        <td>{{ softmain.softLeadsOperation.isImportCsv }}</td>
                        <td>{{ softmain.softLeadsOperation.isImportCsv }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isAutoDuplicate'|trans }}</th>
                        <td>{{ softmain.softLeadsOperation.isAutoDuplicate }}</td>
                        <td>{{ softmain.softLeadsOperation.isAutoDuplicate }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isLeadStages'|trans }}</th>
                        <td>{{ softmain.softLeadsOperation.isLeadStages }}</td>
                        <td>{{ softmain.softLeadsOperation.isLeadStages }}</td>
                    </tr>
                </table>
                <h2>Gestion des segments</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isSegmentCreation'|trans }}</th>
                        <td>{{ softmain.softSegmentOperation.isSegmentCreation }}</td>
                        <td>{{ softmain.softSegmentOperation.isSegmentCreation }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isIntelligentSegment'|trans }}</th>
                        <td>{{ softmain.softSegmentOperation.isIntelligentSegment }}</td>
                        <td>{{ softmain.softSegmentOperation.isIntelligentSegment }}</td>
                    </tr>
                </table>
                <h2>Campagnes Marketing Automation</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isLeadScoring'|trans }}</th>
                        <td>{{ softmain.softMarketingCampaign.isLeadScoring }}</td>
                        <td>{{ softmain.softMarketingCampaign.isLeadScoring }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isCreationCampaign'|trans }}</th>
                        <td>{{ softmain.softMarketingCampaign.isCreationCampaign }}</td>
                        <td>{{ softmain.softMarketingCampaign.isCreationCampaign }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isDripMarketingCampaign'|trans }}</th>
                        <td>{{ softmain.softMarketingCampaign.isDripMarketingCampaign }}</td>
                        <td>{{ softmain.softMarketingCampaign.isDripMarketingCampaign }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isDragAndDrop'|trans }}</th>
                        <td>{{ softmain.softMarketingCampaign.isDragAndDrop }}</td>
                        <td>{{ softmain.softMarketingCampaign.isDragAndDrop }}</td>
                    </tr>
                </table>
                <h2>Intégration Social Media</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isTwitterMonitoring'|trans }}</th>
                        <td>{{ softmain.softSocialMedia.isTwitterMonitoring }}</td>
                        <td>{{ softmain.softSocialMedia.isTwitterMonitoring }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTwitterAutoPublication'|trans }}</th>
                        <td>{{ softmain.softSocialMedia.isTwitterAutoPublication }}</td>
                        <td>{{ softmain.softSocialMedia.isTwitterAutoPublication }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isFacebookMonitoring'|trans }}</th>
                        <td>{{ softmain.softSocialMedia.isFacebookMonitoring }}</td>
                        <td>{{ softmain.softSocialMedia.isFacebookMonitoring }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isFacebookAutoPublication'|trans }}</th>
                        <td>{{ softmain.softSocialMedia.isFacebookAutoPublication }}</td>
                        <td>{{ softmain.softSocialMedia.isFacebookAutoPublication }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isLinkedinMonitoring'|trans }}</th>
                        <td>{{ softmain.softSocialMedia.isLinkedinMonitoring }}</td>
                        <td>{{ softmain.softSocialMedia.isLinkedinMonitoring }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isLinkedinAutoPublication'|trans }}</th>
                        <td>{{ softmain.softSocialMedia.isLinkedinAutoPublication }}</td>
                        <td>{{ softmain.softSocialMedia.isLinkedinAutoPublication }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isInstagramMonitoring'|trans }}</th>
                        <td>{{ softmain.softSocialMedia.isInstagramMonitoring }}</td>
                        <td>{{ softmain.softSocialMedia.isInstagramMonitoring }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isInstagramAutoPublication'|trans }}</th>
                        <td>{{ softmain.softSocialMedia.isInstagramAutoPublication }}</td>
                        <td>{{ softmain.softSocialMedia.isInstagramAutoPublication }}</td>
                    </tr>
                </table>
                <h2>Rapports</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isActivityReportCreation'|trans }}</th>
                        <td>{{ softmain.softReport.isActivityReportCreation }}</td>
                        <td>{{ softmain.softReport.isActivityReportCreation }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isActivityReportPeriodicSend'|trans }}</th>
                        <td>{{ softmain.softReport.isActivityReportPeriodicSend }}</td>
                        <td>{{ softmain.softReport.isActivityReportPeriodicSend }}</td>
                    </tr>
                </table>
                <h2>Support</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmailSupport'|trans }}</th>
                        <td>{{ softmain.softSupport.isEmailSupport }}</td>
                        <td>{{ softmain.softSupport.isEmailSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPhoneSupport'|trans }}</th>
                        <td>{{ softmain.softSupport.isPhoneSupport }}</td>
                        <td>{{ softmain.softSupport.isPhoneSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isChatSupport'|trans }}</th>
                        <td>{{ softmain.softSupport.isChatSupport }}</td>
                        <td>{{ softmain.softSupport.isChatSupport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isKnowledgeBase'|trans }}</th>
                        <td>{{ softmain.softSupport.isKnowledgeBase }}</td>
                        <td>{{ softmain.softSupport.isKnowledgeBase }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'knowledgeBaseLanguage'|trans }}</th>
                        <td>{{ softmain.softSupport.knowledgeBaseLanguage }}</td>
                        <td>{{ softmain.softSupport.knowledgeBaseLanguage }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTechnicalDocument'|trans }}</th>
                        <td>{{ softmain.softSupport.isTechnicalDocument }}</td>
                        <td>{{ softmain.softSupport.isTechnicalDocument }}</td>
                    </tr>
                </table>
                <h2>Autres fonctionnalités</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isProviderEmailChoice'|trans }}</th>
                        <td>{{ softmain.softOtherFunctionnalities.isProviderEmailChoice }}</td>
                        <td>{{ softmain.softOtherFunctionnalities.isProviderEmailChoice }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isBlogEdition'|trans }}</th>
                        <td>{{ softmain.softOtherFunctionnalities.isBlogEdition }}</td>
                        <td>{{ softmain.softOtherFunctionnalities.isBlogEdition }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTouchPad'|trans }}</th>
                        <td>{{ softmain.softOtherFunctionnalities.isTouchPad }}</td>
                        <td>{{ softmain.softOtherFunctionnalities.isTouchPad }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isStmtpRelay'|trans }}</th>
                        <td>{{ softmain.softOtherFunctionnalities.isSmtpRelay}}</td>
                        <td>{{ softmain.softOtherFunctionnalities.isSmtpRelay}}</td>
                    </tr>
                    <tr>
                        <th>{{ 'isRssToEmail'|trans }}</th>
                        <td>{{ softmain.softOtherFunctionnalities.isRssToEmail }}</td>
                        <td>{{ softmain.softOtherFunctionnalities.isRssToEmail }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}