{% extends 'base.html.twig' %}
{% block title %}Comparez 2 logiciels de marketing automation pour faire le bon choix{% endblock %}
{% block metadesc %}Un doute? Comparez 2 logiciels de marketing automation selon leurs fonctionnalités.{% endblock %}

        {% block h1 %}
            <h1>Comparez 2 logiciels de marketing automation</h1>
        {% endblock %}

{% block body %}
    <div id="compare">
        <div class="presentation">
            <p>Grâce à ce comparatif, vous pouvez comparer deux logiciels de marketing automation selon leurs
                principales fonctionnalités.</p>
            <div class="labelcomparatif">
                <div class="row">
                    <div class="offset-m1 col s12 m4 selectsoft">
                        {{ form_start(form) }}
                        {{ form_row(form.software1) }}
                        <ul id="autocomplete_compare_software1">
                        </ul>
                    </div>
                    <div class="col offset-m2 s12 m4 selectsoft">
                        {{ form_row(form.software2) }}
                        <ul id="autocomplete_compare_software2">
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            {% if error is defined %}
                                {{ error }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn waves-effect waves-light" id="versus-button" type="submit" name="action">
                                Comparer
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>

            <div class="row">
                <a href="{{ path('softwareSolo', { 'slug': softmain1.slug }) }}">
                    <div class=" col m6 s12">
                        <div class="card">
                            <div class="center-align">
                                <img src="{{ asset('assets/img/logo/') }}{{ softmain1.slug }}.png">
                            </div>
                            <div class="center-align"><span class="card-title">{{ softmain1.name }}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ path('softwareSolo', { 'slug': softmain2.slug }) }}">
                    <div class=" col m6 s12">
                        <div class="card">
                            <div class="center-align">
                                <img src="{{ asset('assets/img/logo/') }}{{ softmain2.slug }}.png">
                            </div>
                            <div class="center-align"><span class="card-title">{{ softmain2.name }}</span>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="col s12 m12" id="SpecificCompareComment">
                    <p>Ceci est une description pré-écrite de comparatif entre ces deux logiciels. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Pellentesque et nunc eleifend nisl semper molestie.
                        Cras viverra leo id nulla consequat, sit amet efficitur orci viverra. Pellentesque nunc
                        nunc, rhoncus eget neque et, dapibus consectetur nibh.</p>
                </div>
            </div>
            <div id="tableVersus">
                <h2>Informations essentielles sur {{ softmain1.name }} et {{ softmain2.name }}</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'name'|trans }}</th>
                        <td>{{ softmain1.name }}</td>
                        <td>{{ softmain2.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'type'|trans }}</th>
                        <td>{{ softmain1.type }}</td>
                        <td>{{ softmain2.type }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'advantages'|trans }}</th>
                        <td>{{ softmain1.advantages }}</td>
                        <td>{{ softmain2.advantages }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'drawbacks'|trans }}</th>
                        <td>{{ softmain1.drawbacks }}</td>
                        <td>{{ softmain2.drawbacks }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'rgpd'|trans }}</th>
                        <td>
                            {% if softmain1.softInfo.rgpd == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softInfo.rgpd == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softInfo.rgpd == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softInfo.rgpd == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'customers'|trans }}</th>
                        <td>{{ softmain1.softInfo.customers }}</td>
                        <td>{{ softmain2.softInfo.customers }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'hostingCountry'|trans }}</th>
                        <td>{{ softmain1.softInfo.hostingCountry }}</td>
                        <td>{{ softmain2.softInfo.hostingCountry }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'creationDate'|trans }}</th>
                        <td>{{ softmain1.softInfo.creationDate }}</td>
                        <td>{{ softmain2.softInfo.creationDate }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'subscriptionCost'|trans }}</th>
                        <td>{{ softmain1.softInfo.subscriptionCost }}</td>
                        <td>{{ softmain2.softInfo.subscriptionCost }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'trainingCost'|trans }}</th>
                        <td>{{ softmain1.softInfo.trainingCost }}</td>
                        <td>{{ softmain2.softInfo.trainingCost }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'webSite'|trans }}</th>
                        <td><a href="{{ softmain1.softInfo.webSite }}">{{ softmain1.name }}</a></td>
                        <td><a href="{{ softmain2.softInfo.webSite }}">{{ softmain2.name }}</a></td>
                    </tr>
                </table>
                <h2>Canaux de communication sortants (outbound)</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmail'|trans }}</th>
                        <td>
                            {% if softmain1.softOutbound.isEmail == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOutbound.isEmail == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOutbound.isEmail == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOutbound.isEmail == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isSms'|trans }}</th>
                        <td>
                            {% if softmain1.softOutbound.isSms == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOutbound.isSms == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOutbound.isSms == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOutbound.isSms == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isPopin'|trans }}</th>
                        <td>
                            {% if softmain1.softOutbound.isPopin == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOutbound.isPopin == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOutbound.isPopin == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOutbound.isPopin == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isMailPostal'|trans }}</th>
                        <td>
                            {% if softmain1.softOutbound.isMailPostal == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOutbound.isMailPostal == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOutbound.isMailPostal == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOutbound.isMailPostal == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isCallCenter'|trans }}</th>
                        <td>
                            {% if softmain1.softOutbound.isCallCenter == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOutbound.isCallCenter == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOutbound.isCallCenter == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOutbound.isCallCenter == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isPushMobile'|trans }}</th>
                        <td>
                            {% if softmain1.softOutbound.isPushMobile == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOutbound.isPushMobile == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOutbound.isPushMobile == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOutbound.isPushMobile == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isApi'|trans }}</th>
                        <td>
                            {% if softmain1.softOutbound.isApi == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOutbound.isApi == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOutbound.isApi == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOutbound.isApi == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <h2>Supports de communication entrants (inbound)</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmailSupport'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.isEmailSupport  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSupport.isEmailSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.isEmailSupport  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSupport.isEmailSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isPhoneSupport'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.isPhoneSupport == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSupport.isPhoneSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.isPhoneSupport == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSupport.isPhoneSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isChatSupport'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.isChatSupport == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSupport.isChatSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.isChatSupport == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSupport.isChatSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isKnowledgeBase'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.isKnowledgeBase == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSupport.isKnowledgeBase == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.isKnowledgeBase == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSupport.isKnowledgeBase == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'knowledgeBaseLanguage'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.knowledgeBaseLanguage == false %}
                                <p class="center-align">Non communiqué</p>
                            {% else %}
                                {{ softmain1.softSupport.knowledgeBaseLanguage }}
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.knowledgeBaseLanguage == false %}
                                <p class="center-align">Non communiqué</p>
                            {% else %}
                                {{ softmain2.softSupport.knowledgeBaseLanguage }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isTechnicalDocument'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.isTechnicalDocument == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSupport.isTechnicalDocument == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.isTechnicalDocument == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSupport.isTechnicalDocument == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <h2>Gestion des contacts</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isContactObject'|trans }}</th>
                        <td>
                            {% if softmain1.softLeadsOperation.isContactObject == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softLeadsOperation.isContactObject == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softLeadsOperation.isContactObject == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softLeadsOperation.isContactObject == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isCompanyObject'|trans }}</th>
                        <td>
                            {% if softmain1.softLeadsOperation.isCompanyObject == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softLeadsOperation.isCompanyObject == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softLeadsOperation.isCompanyObject == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softLeadsOperation.isCompanyObject == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isDefinedFields'|trans }}</th>
                        <td>
                            {% if softmain1.softLeadsOperation.isDefinedFields == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softLeadsOperation.isDefinedFields == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softLeadsOperation.isDefinedFields == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softLeadsOperation.isDefinedFields == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isIllimitedFields'|trans }}</th>
                        <td>
                            {% if softmain1.softLeadsOperation.isIllimitedFields == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softLeadsOperation.isIllimitedFields == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softLeadsOperation.isIllimitedFields == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softLeadsOperation.isIllimitedFields == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isImportCsv'|trans }}</th>
                        <td>
                            {% if softmain1.softLeadsOperation.isImportCsv == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softLeadsOperation.isImportCsv == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softLeadsOperation.isImportCsv == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softLeadsOperation.isImportCsv == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isAutoDuplicate'|trans }}</th>
                        <td>
                            {% if softmain1.softLeadsOperation.isAutoDuplicate == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softLeadsOperation.isAutoDuplicate == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softLeadsOperation.isAutoDuplicate == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softLeadsOperation.isAutoDuplicate == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isLeadStages'|trans }}</th>
                        <td>
                            {% if softmain1.softLeadsOperation.isLeadStages == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softLeadsOperation.isLeadStages == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softLeadsOperation.isLeadStages == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softLeadsOperation.isLeadStages == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <h2>Gestion des segments</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isSegmentCreation'|trans }}</th>
                        <td>
                            {% if softmain1.softSegmentOperation.isSegmentCreation  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSegmentOperation.isSegmentCreation == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSegmentOperation.isSegmentCreation  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSegmentOperation.isSegmentCreation == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isIntelligentSegment'|trans }}</th>
                        <td>
                            {% if softmain1.softSegmentOperation.isIntelligentSegment  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSegmentOperation.isIntelligentSegment == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSegmentOperation.isIntelligentSegment  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSegmentOperation.isIntelligentSegment == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <h2>Campagnes Marketing Automation</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isAutoResponder'|trans }}</th>
                        <td>
                            {% if softmain1.softMarketingCampaign.isAutoResponder == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softMarketingCampaign.isAutoResponder == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softMarketingCampaign.isAutoResponder == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softMarketingCampaign.isAutoResponder == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isLeadScoring'|trans }}</th>
                        <td>
                            {% if softmain1.softMarketingCampaign.isLeadScoring == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softMarketingCampaign.isLeadScoring == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softMarketingCampaign.isLeadScoring == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softMarketingCampaign.isLeadScoring == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isCreationCampaign'|trans }}</th>
                        <td>
                            {% if softmain1.softMarketingCampaign.isCreationCampaign == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softMarketingCampaign.isCreationCampaign == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softMarketingCampaign.isCreationCampaign == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softMarketingCampaign.isCreationCampaign == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isDripMarketingCampaign'|trans }}</th>
                        <td>
                            {% if softmain1.softMarketingCampaign.isDripMarketingCampaign == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softMarketingCampaign.isDripMarketingCampaign == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softMarketingCampaign.isDripMarketingCampaign == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softMarketingCampaign.isDripMarketingCampaign == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isDragAndDrop'|trans }}</th>
                        <td>
                            {% if softmain1.softMarketingCampaign.isDragAndDrop == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softMarketingCampaign.isDragAndDrop == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softMarketingCampaign.isDragAndDrop == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softMarketingCampaign.isDragAndDrop == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <h2>Intégration Social Media</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isTwitterMonitoring'|trans }}</th>
                        <td>
                            {% if softmain1.softSocialMedia.isTwitterMonitoring  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSocialMedia.isTwitterMonitoring == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSocialMedia.isTwitterMonitoring  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSocialMedia.isTwitterMonitoring == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isTwitterAutoPublication'|trans }}</th>
                        <td>
                            {% if softmain1.softSocialMedia.isTwitterAutoPublication  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSocialMedia.isTwitterAutoPublication == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSocialMedia.isTwitterAutoPublication  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSocialMedia.isTwitterAutoPublication == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isFacebookMonitoring'|trans }}</th>
                        <td>
                            {% if softmain1.softSocialMedia.isFacebookMonitoring   == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSocialMedia.isFacebookMonitoring  == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSocialMedia.isFacebookMonitoring   == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSocialMedia.isFacebookMonitoring  == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isFacebookAutoPublication'|trans }}</th>
                        <td>
                            {% if softmain1.softSocialMedia.isFacebookAutoPublication  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSocialMedia.isFacebookAutoPublication == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSocialMedia.isFacebookAutoPublication  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSocialMedia.isFacebookAutoPublication == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isLinkedinMonitoring'|trans }}</th>
                        <td>
                            {% if softmain1.softSocialMedia.isLinkedinMonitoring  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSocialMedia.isLinkedinMonitoring == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSocialMedia.isLinkedinMonitoring  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSocialMedia.isLinkedinMonitoring == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isLinkedinAutoPublication'|trans }}</th>
                        <td>
                            {% if softmain1.softSocialMedia.isLinkedinAutoPublication  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSocialMedia.isLinkedinAutoPublication == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSocialMedia.isLinkedinAutoPublication  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSocialMedia.isLinkedinAutoPublication == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isInstagramMonitoring'|trans }}</th>
                        <td>
                            {% if softmain1.softSocialMedia.isInstagramMonitoring  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSocialMedia.isInstagramMonitoring == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSocialMedia.isInstagramMonitoring  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSocialMedia.isInstagramMonitoring == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isInstagramAutoPublication'|trans }}</th>
                        <td>
                            {% if softmain1.softSocialMedia.isInstagramAutoPublication  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSocialMedia.isInstagramAutoPublication == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSocialMedia.isInstagramAutoPublication  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSocialMedia.isInstagramAutoPublication == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <h2>Rapports</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isActivityReportCreation'|trans }}</th>
                        <td>
                            {% if softmain1.softReport.isActivityReportCreation == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softReport.isActivityReportCreation == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}</td>
                        <td>
                            {% if softmain2.softReport.isActivityReportCreation == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softReport.isActivityReportCreation == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isActivityReportPeriodicSend'|trans }}</th>
                        <td>
                            {% if softmain1.softReport.isActivityReportPeriodicSend == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain.softReport.isActivityReportPeriodicSend == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softReport.isActivityReportPeriodicSend == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain.softReport.isActivityReportPeriodicSend == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <h2>Support</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmailSupport'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.isEmailSupport  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSupport.isEmailSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.isEmailSupport  == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSupport.isEmailSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isPhoneSupport'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.isPhoneSupport == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSupport.isPhoneSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.isPhoneSupport == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSupport.isPhoneSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isChatSupport'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.isChatSupport == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSupport.isChatSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.isChatSupport == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSupport.isChatSupport == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isKnowledgeBase'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.isKnowledgeBase == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSupport.isKnowledgeBase == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.isKnowledgeBase == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSupport.isKnowledgeBase == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'knowledgeBaseLanguage'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.knowledgeBaseLanguage == false %}
                                <p class="center-align">Non communiqué</p>
                            {% else %}
                                {{ softmain1.softSupport.knowledgeBaseLanguage }}
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.knowledgeBaseLanguage == false %}
                                <p class="center-align">Non communiqué</p>
                            {% else %}
                                {{ softmain2.softSupport.knowledgeBaseLanguage }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isTechnicalDocument'|trans }}</th>
                        <td>
                            {% if softmain1.softSupport.isTechnicalDocument == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softSupport.isTechnicalDocument == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softSupport.isTechnicalDocument == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softSupport.isTechnicalDocument == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <h2>Autres fonctionnalités</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isProviderEmailChoice'|trans }}</th>
                        <td>
                            {% if softmain1.softOtherFunctionnalities.isProviderEmailChoice == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOtherFunctionnalities.isProviderEmailChoice == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOtherFunctionnalities.isProviderEmailChoice == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOtherFunctionnalities.isProviderEmailChoice == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isBlogEdition'|trans }}</th>
                        <td>
                            {% if softmain1.softOtherFunctionnalities.isBlogEdition == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOtherFunctionnalities.isBlogEdition == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOtherFunctionnalities.isBlogEdition == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOtherFunctionnalities.isBlogEdition == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isTouchPad'|trans }}</th>
                        <td>
                            {% if softmain1.softOtherFunctionnalities.isTouchPad == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOtherFunctionnalities.isTouchPad == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOtherFunctionnalities.isTouchPad == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOtherFunctionnalities.isTouchPad == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isStmtpRelay'|trans }}</th>
                        <td>
                            {% if softmain1.softOtherFunctionnalities.isSmtpRelay == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOtherFunctionnalities.isSmtpRelay == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOtherFunctionnalities.isSmtpRelay == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOtherFunctionnalities.isSmtpRelay == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'isRssToEmail'|trans }}</th>
                        <td>
                            {% if softmain1.softOtherFunctionnalities.isRssToEmail == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain1.softOtherFunctionnalities.isRssToEmail == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if softmain2.softOtherFunctionnalities.isRssToEmail == false %}
                                <i class="small material-icons red-text">close</i>
                            {% elseif softmain2.softOtherFunctionnalities.isRssToEmail == true %}
                                <i class="small material-icons green-text">check</i>
                            {% else %}
                                <p class="center-align">Non communiqué</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
        {% block javascripts %}    {{ parent() }}
            <script src="{{ asset('assets/js/versus-ajax.js') }}"></script>

        {% endblock %}