{% extends 'base.html.twig' %}
{% block title %}Comparez 2 logiciels de marketing automation pour faire le bon choix{% endblock %}
{% block metadesc %}Un doute? Comparez 2 logiciels de marketing automation selon leurs fonctionnalités.{% endblock %}

        {% block h1 %}
            <h1>Comparez 2 logiciels de marketing automation</h1>
        {% endblock %}

{% block body %}
    <div id="compare">
        <div class="presentation">
            <p>Grâce à ce comparatif, vous pouvez comparer deux logiciels de marketing automation selon leurs
                principales fonctionnalités.</p>
            <div class="labelcomparatif">
                <div class="row">
                    <div class="offset-m1 col s12 m4 selectsoft">
                        <label for="soft_choice">Premier logiciel à comparer:</label>
                        <input list="soft" type="text" id="soft_choice">
                        <datalist id="soft">
                            <option value="MailChimp">
                            <option value="Mautic">
                            <option value="MailChimp">
                            <option value="MailChimp">
                        </datalist>
                    </div>
                    <div class="col offset-m2 s12 m4 selectsoft">
                        <label for="soft_choice2">Second logiciel à comparer :</label>
                        <input list="soft" type="text" id="soft_choice2">
                        <datalist id="soft">
                            <option value="MailChimp">
                            <option value="Mautic">
                            <option value="MailChimp">
                            <option value="MailChimp">
                        </datalist>
                    </div>
                    <div class="center-align">
                        <button class="btn waves-effect waves-light" id="versus-button" type="submit" name="action">Comparer
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="">
                    <div class=" col m6 s12">
                        <div class="card">
                            <div class="center-align">
                                <img src="{{ asset('assets/img/photo') }}{{ random(3) }}.png"
                                     class="responsive-img">
                            </div>
                            <div class="center-align"><span class="card-title">MailChimp</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class=" col m6 s12">
                        <div class="card">
                            <div class="center-align">
                                <img src="{{ asset('assets/img/photo') }}{{ random(3) }}.png">
                            </div>
                            <div class="center-align"><span class="card-title">Mautic</span>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="col s12 m12" id="SpecificCompareComment">
                    <p>Ceci est une description pré-écrite de comparatif entre ces deux logiciels. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Pellentesque et nunc eleifend nisl semper molestie.
                        Cras viverra leo id nulla consequat, sit amet efficitur orci viverra. Pellentesque nunc
                        nunc, rhoncus eget neque et, dapibus consectetur nibh.</p>
                </div>
            </div>
            <div id="tableVersus">
                <h2>Informations essentielles sur MailChimp et Mautic</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'name'|trans }}</th>
                        <td>MainChimp</td>
                        <td>Mautic</td>
                    </tr>
                    <tr>
                        <th>{{ 'type'|trans }}</th>
                        <td>Logiciel généraliste</td>
                        <td>Logiciel généraliste</td>
                    </tr>
                    <tr>
                        <th>{{ 'rgpd'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'customers'|trans }}</th>
                        <td>Equipe bien organisée</td>
                        <td>Equipe bien organisée</td>
                    </tr>
                    <tr>
                        <th>{{ 'hostingCountry'|trans }}</th>
                        <td>Île Caïman</td>
                        <td>La terre du milieu</td>
                    </tr>
                    <tr>
                        <th>{{ 'creationDate'|trans }}</th>
                        <td>1650</td>
                        <td>1950</td>
                    </tr>
                    <tr>
                        <th>{{ 'annualTurnover'|trans }}</th>
                        <td>10</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>{{ 'configCost'|trans }}</th>
                        <td>800 €</td>
                        <td>8000 €</td>
                    </tr>
                    <tr>
                        <th>{{ 'subscriptionCost'|trans }}</th>
                        <td>800 €</td>
                        <td>80 €</td>
                    </tr>
                    <tr>
                        <th>{{ 'trainingCost'|trans }}</th>
                        <td>800 €</td>
                        <td>80 €</td>
                    </tr>
                    <tr>
                        <th>{{ 'webSite'|trans }}</th>
                        <td>800</td>
                        <td>80</td>
                    </tr>
                </table>
                <h2>Canaux de communication sortants (outbound)</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmail'|trans }}</th>
                        <td>oui</td>
                        <td>oui</td>
                    </tr>
                    <tr>
                        <th>{{ 'isSms'|trans }}</th>
                        <td>non</td>
                        <td>non</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPopin'|trans }}</th>
                        <td>non</td>
                        <td>non</td>
                    </tr>
                    <tr>
                        <th>{{ 'isMailPostal'|trans }}</th>
                        <td>non</td>
                        <td>non</td>
                    </tr>
                    <tr>
                        <th>{{ 'isCallCenter'|trans }}</th>
                        <td>non</td>
                        <td>non</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPushMobile'|trans }}</th>
                        <td>non</td>
                        <td>non</td>
                    </tr>
                    <tr>
                        <th>{{ 'isApi'|trans }}</th>
                        <td>non</td>
                        <td>non</td>
                    </tr>
                </table>
                <h2>Supports de communication entrants (inbound)</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isLandingPage'|trans }}</th>
                        <td>oui</td>
                        <td>oui</td>
                    </tr>
                    <tr>
                        <th>{{ 'isForm'|trans }}</th>
                        <td>non</td>
                        <td>non</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTracking'|trans }}</th>
                        <td>non</td>
                        <td>non</td>
                    </tr>
                    <tr>
                        <th>{{ 'isLiveChat'|trans }}</th>
                        <td>non</td>
                        <td>non</td>
                    </tr>
                </table>
                <h2>Gestion des contacts</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isContactObject'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isCompanyObject'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isDefinedFields'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isIllimitedFields'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isImportCsv'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isAutoDuplicate'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isLeadStages'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
                <h2>Gestion des segments</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isSegmentCreation'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isIntelligentSegment'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
                <h2>Campagnes Marketing Automation</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isLeadScoring'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isCreationCampaign'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isDripMarketingCampaign'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isDragAndDrop'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
                <h2>Intégration Social Media</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isTwitterMonitoring'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTwitterAutoPublication'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isFacebookMonitoring'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isFacebookAutoPublication'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isLinkedinMonitoring'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isLinkedinAutoPublication'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isInstagramMonitoring'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isInstagramAutoPublication'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isActivityReportCreation'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isActivityReportPeriodicSend'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
                <h2>Support</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isEmailSupport'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isPhoneSupport'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isChatSupport'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isKnowledgeBase'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'knowledgeBaseLanguage'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTechnicalDocument'|trans }}</th>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
                <h2>Autres fonctionnalités</h2>
                <table class="striped border">
                    <tr>
                        <th>{{ 'isProviderEmailChoice'|trans }}</th>
                        <td>oui</td>
                        <td>oui</td>
                    </tr>
                    <tr>
                        <th>{{ 'isBlogEdition'|trans }}</th>
                        <td>oui</td>
                        <td>oui</td>
                    </tr>
                    <tr>
                        <th>{{ 'isTouchPad'|trans }}</th>
                        <td>non</td>
                        <td>oui</td>
                    </tr>
                    <tr>
                        <th>{{ 'isStmtpRelay'|trans }}</th>
                        <td>oui</td>
                        <td>oui</td>
                    </tr>
                    <tr>
                        <th>{{ 'isRssToEmail'|trans }}</th>
                        <td>oui</td>
                        <td>oui</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}