{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Liste des tags {% endblock %}
        {% block h1 %}
            <h1>Trouvez votre logiciel de marketing automation par thème</h1>
        {% endblock %}
{% block body %}
    <div id="listing-tags">

        <h2>Cliquez sur un tag pour obtenir la liste des logiciels associés.</h2>
        <div class="row">

            <ul>
                {% for bool in bools %}
                        <li class="col l4 m6 s12">
                            <a href="{{ path('tagSolo', { 'slug': bool.slug }) }}">{{ bool.entitie }}</a>
                            <a href="{{ path('tagSolo', { 'slug': bool.slug }) }}"><div class="chip">{{ bool.number }}</div></a>
                        </li>

                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}