{% extends 'base.html.twig' %}
{% block title %}Tous les logiciels de Marketing Automation comparés{% endblock %}
{% block metadesc %}Découvrez les comparatigs des princinpaux logiciels de marketing automation du marché{% endblock %}

        {% block h1 %}
            <h1>Comparez les principaux logiciels de marketing automation :</h1>
        {% endblock %}
{% block body %}
    <div id="listing-versus">
    <div class="presentation">
        <p>Grâce à ce comparatif, vous pouvez comparer deux logiciels de marketing automation selon leurs
            principales fonctionnalités.</p>
        <div class="labelcomparatif">
            <div class="row">
                <div class="offset-m1 col s12 m4 selectsoft">
                    {{ form_start(form) }}

                    {{ form_row(form.software1) }}

                </div>
                <div class="col offset-m2 s12 m4 selectsoft">
                    {{ form_row(form.software2) }}
                </div>
                    <div class="center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Comparer
                        <i class="material-icons right">send</i>
                    </button>
                    </div>
            </div>
            <ul id="autocomplete">
            </ul>
            {{ form_end(form) }}
        </div>
        <h2>Cliquez sur un comparatif pour voir le détail :</h2>
        <div class="row">
            <ul>
                {% for i in range(0, 7) %}
                    <li class="col l4 m6 s12">
                        <a href="{{ path('versus') }}">Logiciel 1 comparé au logiciel 2</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
        {% block javascripts %}        <script src="{{ asset('assets/js/versus-ajax.js') }}"></script>
        {% endblock %}

