
{% extends 'base.html.twig' %}

{% block title %} Votre recherche :  {{ research }} - Logiciel de Marketing Automation {% endblock %}

{% block body %}
    <div class="result" id="results">
        <div class="row">


            <div class="col s12 m7 l7">
                <p class="presults">${ softwaresList.length } résultat(s) pour votre mot-clé "{{ research }}".
                </p>
                <div class="center-align hide-on-med-and-up">
                    <a href="#" data-activates="slide-out" class="button-collapse btn-large"><i
                                class="material-icons">edit</i>Plus de critères</a>
                </div>
                Filtres actifs (résultats: ${ sofwarefiltres.length }) :

                <b v-if="mail == true">Mail,</b>
                <b v-if="sms == true">SMS,</b>
                <b v-if="popin == true">Popin sur le site,</b>
                <b v-if="rgpd == true">Conformité RGPD,</b>
                <b v-if="mailpostal == true">Courrier Postal,</b>
                <b v-if="callCenter == true">Centre d'appel,</b>
<b v-if="pushmobile == true">Notifications Push Mobile,</b>
<b v-if="api == true">Appel API,</b>
<b v-if="landing == true">Page d'atterissage,</b>
                <b v-if="formulaire == true">Formulaire,</b>
                <b v-if="codesuivi == true">Code de suivi,</b>
                <b v-if="livechat == true">Live Chat,</b>
                <b v-if="reportcreation == true">Création de rapports d'activité,</b>
<b v-if="reportperiodic == true">Envoi périodique de rapports,</b>
<b v-if="emailsupport == true">Support par email,</b>
<b v-if="phonesupport == true">Support téléphonique,</b>
<b v-if="chatsupport == true">Support par chat,</b>
<b v-if="knowledgebase == true">Base de connaissance,</b>
<b v-if="technicalDoc == true">Documentation technique,</b>
<b v-if="twitterMon == true">Veille Twitter,</b>
<b v-if="twitterAuto == true">Publication automatique sur Twitter,</b>
<b v-if="linkedinAuto == true">Publication automatique sur Linkedin,</b>
<b v-if="linkedinMon == true">Veille Linkedin,</b>
<b v-if="instagramMon == true">Veille Instagram,</b>
<b v-if="instagramAuto == true">Publication automatique sur Instagram,</b>
<b v-if="facebookMon == true">Veille Facebook,</b>
<b v-if="facebookAuto == true">Publication automatique sur Facebook,</b>
<b v-if="SegmentCreation == true">Création de segments,</b>
<b v-if="IntelligentSegmentCreation == true">Création de segments intelligents,</b>
<b v-if="AutoResponder == true">Auto-répondeur,</b>
<b v-if="LeadScoring == true">Lead Scoring,</b>
<b v-if="CreationCampaign == true">Création de campagnes,</b>
<b v-if="DripMarketingCampaign == true">Campagne Drip Marketing,</b>
<b v-if="DragAndDrop == true">Editeur en Drag and Drop,</b>
<b v-if="ContactObject == true">Objet Contact,</b>
<b v-if="CompanyObject == true">Objet Société,</b>
<b v-if="DefinedFields == true">Champs personnalisés,</b>
<b v-if="IllimitedFields == true">Champs illimités,</b>
<b v-if="ImportCsv == true">Import CSV,</b>
<b v-if="AutoDuplicate == true">Déduplication automatique,</b>
<b v-if="LeadStages == true">Lead Stages,</b>
<b v-if="ProviderEmailChoice == true">Choix du provider Email,</b>
<b v-if="BlogEdition == true">Edition d'un blog,</b>
<b v-if="TouchPad == true">Tablette en magasin,</b>
<b v-if="RssToEmail == true">RSS to email,</b>
<b v-if="SmtpRelay == true">SMTP Relais,</b>





<div v-for="software in sofwarefiltres">

    <div class="card horizontal">

        <div class="marginLogo">
            <div class="card-image result-logo-responsive">
                <a :href="`/logiciels/${software.slug}`"><img class="responsive-img" :src="`/assets/img/logo/${software.slug}.png`" alt="software"></a>
            </div>
        </div>
        <div class="card-stacked">
            <div class="card-action">
                <a :href="`/logiciels/${software.slug}`">${ software.name }</a>
            </div>
            <div class="card-content">
                <p class="troncate">${ software.description }</p>
            </div>

        </div>

    </div>
</div>
</div>

{% include('filters.html.twig') %}




</div>


</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
<script>
    var app = new Vue({
        delimiters: ['${', '}'],
        el: '.result',
        data: {
            softwaresList : [],
            sms: false,
            mail: false,
            rgpd: false,
            popin: false,
            mailpostal: false,
            callCenter: false,
            pushmobile: false,
            api: false,
            reportcreation: false,
            reportperiodic: false,
            emailsupport: false,
            phonesupport: false,
            chatsupport: false,
            landing: false,
            formulaire: false,
            codesuivi: false,
            livechat: false,
            knowledgebase: false,
            technicalDoc: false,
            twitterMon: false,
            twitterAuto: false,
            linkedinAuto: false,
            linkedinMon: false,
            instagramMon: false,
            instagramAuto: false,
            facebookMon: false,
            facebookAuto: false,
            SegmentCreation: false,
            IntelligentSegmentCreation: false,
            AutoResponder: false,
            LeadScoring: false,
            CreationCampaign: false,
            DripMarketingCampaign: false,
            DragAndDrop: false,
            ContactObject: false,
            CompanyObject: false,
            DefinedFields: false,
            IllimitedFields: false,
            ImportCsv: false,
            AutoDuplicate: false,
            LeadStages: false,
            ProviderEmailChoice: false,
            BlogEdition: false,
            TouchPad: false,
            RssToEmail: false,
            SmtpRelay: false,
            price: 0,
        },
        created(){
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

            axios.get('/resultsJson_{{ research }}', {
                headers: {
                    'Content-Type': 'application/json'
                },
                transformResponse: axios.defaults.transformResponse.concat((data) => {
                    this.softwaresList = data.data
                })
            })
        },

        methods:{

            reset(){
                this.price = 0;
                this.sms = false;
                this.mail =  false;
                this.rgpd = false;
                this.popin = false;
                this.mailpostal = false;
                this.callCenter = false;
                this.pushmobile = false;
                this.api = false;
                this.reportcreation = false;
                this.reportperiodic = false;
                this.emailsupport = false;
                this.phonesupport = false;
                this.chatsupport = false;
                this.landing = false;
                this.formulaire = false;
                this.codesuivi = false;
                this.livechat = false;
                this.knowledgebase = false;
                this.technicalDoc = false;
                this.twitterMon = false;
                this.twitterAuto = false;
                this.linkedinAuto = false;
                this.linkedinMon = false;
                this.instagramMon = false;
                this.instagramAuto = false;
                this.facebookMon = false;
                this.facebookAuto = false;
                this.SegmentCreation = false;
                this.IntelligentSegmentCreation = false;
                this.AutoResponder = false;
                this.LeadScoring = false;
                this.CreationCampaign = false;
                this.DripMarketingCampaign = false;
                this.DragAndDrop = false;
                this.ContactObject = false;
                this.CompanyObject = false;
                this.DefinedFields = false;
                this.IllimitedFields = false;
                this.ImportCsv = false;
                this.AutoDuplicate = false;
                this.LeadStages = false;
                this.ProviderEmailChoice = false;
                this.BlogEdition = false;
                this.TouchPad = false;
                this.RssToEmail = false;
                this.SmtpRelay = false;
            }


        },
        computed: {

            sofwarefiltres: function(){
                let condFbMon = true;
                let condFbAuto = true;
                let condInstagramMon = true;
                let condinstragramAuto = true;
                let condlinkedinAuto = true;
                let condlinkedinMon = true;
                let condtwitterMon = true;
                let condtwitterAuto= true;
                let condSms = true;
                let condMail = true;
                let condRgpd = true;
                let condPopin = true;
                let condMailPostal = true;
                let condCallCenter = true;
                let condPushmobile = true;
                let condisApi = true;
                let condReportCreation = true;
                let condReportPeriodic = true;
                let condEmailSupport = true;
                let condPhoneSupport = true;
                let condChatSupport = true;
                let condLanding = true;
                let condForm = true;
                let condCodesuivi = true;
                let condLivechat = true;
                let condisKnowledgeBase = true;
                let condTechnicalDoc = true;
                let condSegmentCreation = true;
                let condIntelligentSegmentCreation = true;
                let condAutoResponder = true;
                let condLeadScoring = true;
                let condisCreationCampaign = true;
                let condisDripMarketingCampaign = true;
                let condisDragAndDrop = true;
                let condisContactObject = true;
                let condisCompanyObject = true;
                let condisDefinedFields = true;
                let condisIllimitedFields = true;
                let condisImportCsv = true;
                let condisAutoDuplicate = true;
                let condisLeadStages = true;
                let condisProviderEmailChoice = true;
                let condisisBlogEdition = true;
                let condisisTouchPad = true;
                let condisRssToEmail = true;
                let condisSmtpRelay = true;

                return this.softwaresList.filter((elt) => {
                    let condPrice = true;
                    if(this.facebookMon === true){
                        condFbMon = elt.isFbMon;
                    }
                    if(parseInt(this.price) > 10){
                        condPrice = (parseInt(elt.isPrice) < parseInt(this.price)) || (elt.isPrice === "");
                    }
                    if(this.SmtpRelay === true){
                        condisSmtpRelay = elt.isSmtpRelay
                    }
                    if(this.RssToEmail === true){
                        condisRssToEmail = elt.isRssToEmail
                    }
                    if(this.TouchPad === true){
                        condisisTouchPad = elt.isTouchPad
                    }
                    if(this.BlogEdition === true){
                        condisisBlogEdition = elt.isBlogEdition
                    }
                    if(this.ProviderEmailChoice === true){
                        condisProviderEmailChoice = elt.isProviderEmailChoice
                    }
                    if(this.LeadStages === true){
                        condisLeadStages = elt.sLeadStages
                    }
                    if(this.AutoDuplicate === true){
                        condisAutoDuplicate = elt.isAutoDuplicate
                    }
                    if(this.ImportCsv === true){
                        condisImportCsv = elt.isImportCsv
                    }
                    if(this.IllimitedFields === true){
                        condisIllimitedFields = elt.isIllimitedFields
                    }
                    if(this.DefinedFields === true){
                        condisDefinedFields = elt.isDefinedFields
                    }
                    if(this.CompanyObject === true){
                        condisCompanyObject = elt.isCompanyObject
                    }
                    if(this.ContactObject === true){
                        condisContactObject = elt.isContactObject
                    }
                    if(this.DragAndDrop === true){
                        condisDragAndDrop = elt.isDragAndDrop
                    }
                    if(this.DripMarketingCampaign === true){
                        condisDripMarketingCampaign = elt.isDripMarketingCampaign
                    }
                    if(this.CreationCampaign === true){
                        condisCreationCampaign = elt.isCreationCampaign
                    }
                    if(this.LeadScoring === true){
                        condLeadScoring = elt.isLeadScoring
                    }
                    if(this.AutoResponder === true){
                        condAutoResponder = elt.isAutoResponder
                    }
                    if(this.IntelligentSegmentCreation === true){
                        condIntelligentSegmentCreation = elt.isIntelligentSegmentCreation
                    }
                    if(this.facebookAuto === true){
                        condFbAuto = elt.isFbAuto
                    }
                    if(this.SegmentCreation === true){
                        condSegmentCreation = elt.isSegmentCreation
                    }
                    if(this.twitterAuto === true){
                        condtwitterAuto = elt.isTwitterAutoPublication
                    }
                    if(this.twitterMon === true){
                        condtwitterMon = elt.isTwitterMonitoring
                    }
                    if(this.linkedinAuto === true){
                        condlinkedinAuto = elt.isLinkedinAutoPublication
                    }
                    if(this.linkedinMon === true){
                        condlinkedinMon = elt.isLinkedinMonitoring
                    }
                    if(this.instagramMon === true){
                        condInstagramMon = elt.isInstagramMonitoring
                    }
                    if(this.instagramAuto === true){
                        condinstragramAuto = elt.isInstagramAutoPublication
                    }

                    if(this.knowledgebase === true){
                        condisKnowledgeBase = elt.isKnowledgeBase
                    }

                    if(this.knowledgebase === true){
                        condisKnowledgeBase = elt.isKnowledgeBase
                    }
                    if(this.technicalDoc === true){
                        condTechnicalDoc = elt.isTechnicalDocument
                    }

                    if(this.formulaire === true){
                        condForm = elt.isForm
                    }
                    if(this.codesuivi === true){
                        condCodesuivi = elt.isTracking
                    }
                    if(this.livechat === true){
                        condLivechat = elt.isLiveChat
                    }
                    if(this.sms === true){
                        condSms = elt.isSms
                    }
                    if(this.rgpd === true){
                        condRgpd = elt.isRgpd
                    }
                    if(this.mail === true){
                        condMail = elt.isEmail
                    }
                    if(this.popin === true){
                        condPopin = elt.isPopin
                    }
                    if(this.mailpostal === true){
                        condMailPostal = elt.isMailPostal
                    }
                    if(this.callCenter === true){
                        condCallCenter = elt.isCallCenter
                    }
                    if(this.pushmobile === true){
                        condPushmobile = elt.isPushMobile
                    }
                    if(this.api === true){
                        condisApi = elt.isApi
                    }
                    if(this.reportcreation === true){
                        condReportCreation = elt.isActivityReportCreation
                    }
                    if(this.reportperiodic === true){
                        condReportPeriodic = elt.isActivityReportPeriodicSend
                    }
                    if(this.emailsupport === true){
                        condEmailSupport = elt.isEmailSupport
                    }
                    if(this.phonesupport === true){
                        condPhoneSupport = elt.isPhoneSupport
                    }
                    if(this.chatsupport === true){
                        condChatSupport = elt.isChatSupport
                    }
                    if(this.landing === true){
                        condLanding = elt.isLandingPage
                    }


                    return  condSms &&
                        condMail &&
                        condRgpd &&
                        condPopin &&
                        condCallCenter &&
                        condMailPostal &&
                        condPushmobile &&
                        condisApi &&
                        condReportCreation &&
                        condReportPeriodic &&
                        condPhoneSupport &&
                        condEmailSupport &&
                        condChatSupport &&
                        condLanding  &&
                        condForm &&
                        condCodesuivi &&
                        condisKnowledgeBase &&
                        condTechnicalDoc &&
                        condLivechat &&
                        condInstagramMon &&
                        condinstragramAuto &&
                        condlinkedinAuto &&
                        condlinkedinMon &&
                        condtwitterMon &&
                        condtwitterAuto &&
                        condSegmentCreation &&
                        condIntelligentSegmentCreation &&
                        condLeadScoring &&
                        condisCreationCampaign &&
                        condisDripMarketingCampaign &&
                        condisDragAndDrop &&
                        condisContactObject &&
                        condisCompanyObject &&
                        condisDefinedFields &&
                        condisIllimitedFields &&
                        condisImportCsv &&
                        condisLeadStages &&
                        condisAutoDuplicate &&
                        condisProviderEmailChoice &&
                        condisisBlogEdition &&
                        condisisTouchPad &&
                        condisRssToEmail &&
                        condAutoResponder &&
                        condPrice
                        ;
                });

            }
        }

    });

</script>
{% endblock %}
{% block javascripts %}{{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/resultHide.js') }}"></script>
{% endblock %}