{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Fiche Logiciel {% endblock %}
        {% block h1 %}
            <h1>Tout sur le logiciel MailChimp</h1>
        {% endblock %}

{% block body %}
    <div class="container">
        <div id="software">
            <div class="row">
                <div class="col m8 s12 l8">
                    <p>A brain that automatically <b>helps you find and connect with your audience </b>so you can build
                        your brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of
                        our most powerful automations that handle the marketing stuff so you can focus on the rest of
                        your business.</p>
                    <h2>Notre avis sur MailChimp</h2>
                    <p>A brain that automatically helps you find and connect with your audience so you can build your
                        brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our
                        most powerful automations that handle the marketing stuff so you can focus on the rest of your
                        business.</p>
                    <p>A brain that automatically helps you find and connect with your audience so you can build your
                        brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our
                        most powerful automations that handle the marketing stuff so you can focus on the rest of your
                        business.</p>
                </div>
                <div class="col m4 s12 l4">
                    <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png" height="250"
                         width="250" class="responsive-img">
                </div>


            </div>
            <div class="row">
                <div class="col s12 offset-m1 offset-l1">
                    {% include 'table.html.twig' %}
                </div>
            </div>


            <div class="row">
                <div class="col m12 s12 l12">
                    <h2>Notre avis sur MailChimp</h2>
                    <p>A brain that automatically helps you find and connect with your audience so you can build your
                        brand
                        and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our most
                        powerful
                        automations that handle the marketing stuff so you can focus on the rest of your business.</p>
                    <p>A brain that automatically helps you find and connect with your audience so you can build your
                        brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our
                        most powerful automations that handle the marketing stuff so you can focus on the rest of your
                        business.</p>
                    <h2>Notre avis sur MailChimp</h2>
                    <p>A brain that automatically helps you find and connect with your audience so you can build your
                        brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our
                        most powerful automations that handle the marketing stuff so you can focus on the rest of your
                        business.</p>
                    <p>A brain that automatically helps you find and connect with your audience so you can build your
                        brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our
                        most powerful automations that handle the marketing stuff so you can focus on the rest of your
                        business.</p>

                </div>
            </div>
            <aside id="share">
                <div class="hide-on-med-and-down">
                    <a href=https://twitter.com/share?url={{ app.request.uri }}&via=Marketing_Automation" rel="nofollow"
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"
                       class="mdi mdi-twitter mdi-36px mdi-light hidden"></a>
                    <a href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}" rel="nofollow"
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"
                       class="mdi mdi-facebook mdi-36px mdi-light hidden"></a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}" rel="nofollow"
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"
                       class="mdi mdi-linkedin mdi-36px mdi-light hidden "></a>
                    <a href="https://buffer.com/add?url={{ app.request.uri }}" rel="nofollow"
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"
                       class="mdi mdi-buffer mdi-36px mdi-light hidden "></a>
                    <a class="mdi mdi-share-variant mdi-36px mdi-light "></a>
                </div>


                <div class="hide-on-large-only mobile">
                    <a href=https://twitter.com/share?url= {{ app.request.uri }} &via=Marketing_automation" target="_blank"
                       rel="nofollow"
                       class="mdi mdi-twitter mdi-24px mdi-light hidden social"></a>
                    <a href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}" target="_blank" rel="nofollow"
                       class="mdi mdi-facebook mdi-24px mdi-light hidden"></a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url= {{ app.request.uri }}" target="_blank"
                       rel="nofollow"
                       class="mdi mdi-linkedin mdi-24px mdi-light hidden social"></a>
                    <a href="https://buffer.com/add?text={{ app.request.uri }}" target="_blank" rel="nofollow"
                       class="mdi mdi-buffer mdi-24px mdi-light hidden social"></a>
                    <a class="mdi mdi-share-variant mdi-24px mdi-light "></a>
                </div>
            </aside>


        </div>

    </div>
{% endblock %}
{% block javascripts %}{{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/social.js') }}"></script>
{% endblock %}