{% extends 'base.html.twig' %}
{% block title %}
    {% if softmain.title == true %}
        {{ softmain.title }}
    {% else %}
        {{ softmain.name }} - logiciel de marketing automation
    {% endif %}
{% endblock %}
{% block metadesc %}{{ softmain.name }} {{ softmain.description[:60] }}. {% endblock %}

            {% block h1 %}
                <h1 id="softwareh1">{{ softmain.name }}</h1>
                <p id="tagOnSoft">
                        {% for tag in softmain.tags  %}
                            <a href="{{ path('tagSolo' , { 'slug': tag.slug }) }}">{{ tag.name }}</a>
                        {% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </p>
            {% endblock %}
{% block body %}

    <div id="software">

        <div class="row">
            <div class="col m3 s12 l3">
                <img src="{{ asset('assets/img/logo/') }}{{ softmain.slug }}.png" height="250"
                     width="250" class="responsive-img">
            </div>
            <div class="col m9 s12">
                <p>{{ softmain.description | raw }}</p>
            </div>
        </div>
        <h2>Notre commentaire sur {{ softmain.name | raw }}</h2>
        <p>{{ softmain.comments }}</p>


        <h2>Informations essentielles sur {{ softmain.name | raw }}</h2>

        {% include 'table-softinfo.html.twig' %}

        <h2>Canaux de communication sortants (outbound)</h2>

        {% include 'table-softoutbound.html.twig' %}

        <h2>Supports de communication entrant (inbound)</h2>

        {% include 'table-softcommsupport.html.twig' %}

        <h2>Gestion des contacts</h2>

        {% include 'table-softleadsoperation.html.twig' %}

        <h2>Gestion des segments</h2>

        {% include 'table-softsegmentoperation.html.twig' %}

        <h2>Campagnes Marketing Automation avec {{ softmain.name | raw }}</h2>

        {% include 'table-softmarketingcampaign.html.twig' %}

        <h2>Intégration Social Media</h2>

        {% include 'table-softsocialmedia.html.twig' %}

        <h2>Rapports {{ softmain.name | raw }}</h2>

        {% include 'table-softreport.html.twig' %}

        <h2>Support proposé par {{ softmain.name | raw }}</h2>

        {% include 'table-softsupport.html.twig' %}

        <h2>Autres fonctionnalités de {{ softmain.name | raw }}</h2>

        {% include 'table-softothersfunctionnalities.html.twig' %}


        <div class="row">
            <div class="col s12 m12 l12 ">
                <h2>Une question sur {{ softmain.name | raw }} ? Contactez-nous !</h2>
            </div>
            <div class="col offset-s3 s6 card">
                    <script type="text/javascript" src="//pam.ammeloot.fr/form/generate.js?id=9"></script>
            </div>
        </div>

        <h2>Voir d'autres logiciels de marketing automation</h2>
        <div class="row">

            {% for software in softwares %}
                {% include('software-card.html.twig') %}
            {% endfor %}


        </div>

        <h2>Comparer MailChimp avec d'autres logiciels de marketing automation</h2>
        <div class="row">
                        {% for software in softwares %}
                            {% include('software-card.html.twig') %}
                        {% endfor %}


        </div>
    </div>

    <aside id="share">
        <div class="hide-on-med-and-down">
            <a href=https://twitter.com/share?url={{ app.request.uri }}&via=Marketing_Automation" rel="nofollow"
               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"
               class="mdi mdi-twitter mdi-36px mdi-light hidden"></a>
            <a href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}" rel="nofollow"
               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"
               class="mdi mdi-facebook mdi-36px mdi-light hidden"></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}" rel="nofollow"
               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"
               class="mdi mdi-linkedin mdi-36px mdi-light hidden "></a>
            <a href="https://buffer.com/add?url={{ app.request.uri }}" rel="nofollow"
               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"
               class="mdi mdi-buffer mdi-36px mdi-light hidden "></a>
            <a class="mdi mdi-share-variant mdi-36px mdi-light "></a>
        </div>


        <div class="hide-on-large-only mobile">
            <a href=https://twitter.com/share?url= {{ app.request.uri }} &via=Marketing_automation" target="_blank"
               rel="nofollow"
               class="mdi mdi-twitter mdi-24px mdi-light hidden social"></a>
            <a href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}" target="_blank" rel="nofollow"
               class="mdi mdi-facebook mdi-24px mdi-light hidden"></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url= {{ app.request.uri }}" target="_blank"
               rel="nofollow"
               class="mdi mdi-linkedin mdi-24px mdi-light hidden social"></a>
            <a href="https://buffer.com/add?text={{ app.request.uri }}" target="_blank" rel="nofollow"
               class="mdi mdi-buffer mdi-24px mdi-light hidden social"></a>
            <a class="mdi mdi-share-variant mdi-24px mdi-light "></a>
        </div>
    </aside>

{% endblock %}
{% block javascripts %}{{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/social.js') }}"></script>
{% endblock %}