{% extends 'base.html.twig' %}

{% block title %}
    {% if description is defined %}
        Logiciels de Marketing Automation : {{ description }}
    {% else %}
        {% if tag.title == true %}
        {{ tag.title }}
    {% else %}
        {% if tag.name == true %}
        Logiciels de Marketing Automation : {{ tag.name }}

        {% endif %}
        {% endif %}
        {% endif %}
{% endblock %}

        {% block h1 %}
            {% if tag is defined %}
                <h1>{{ tag.name }}</h1>
            {% endif %}
            {% if softwares is defined %}
                <h1>{{ description }}</h1>
            {% endif %}
        {% endblock %}
{% block body %}
    <div id="tag">
        {% if tag is defined %}

            <p>{{ tag.description | raw }}</p>
            <div class="row" id="listSoftsByTags">
                {% for software in tag.softMains %}{% include('software-card.html.twig') %}
                {% endfor %}

            </div>
        {% endif %}

        {% if softwares is defined %}
            <p>Logiciels comportant le critère "{{ description }}"</p>
            <div class="row" id="listSoftsByTags">

                {% for software in softwares %}{% include('software-card.html.twig') %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}